@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
@import url("main.css");
html {
  height: 100%;
  font-size: 2px;
}
@media (max-width: 780px) {
  html {
    font-size: 0.25641vw;
  }
}

main {
  background-color: #F9F9F9;
}

.my_home_taste_challenge {
  background-color: #ffffff;
  color: #111;
  font-family: "Pretendard", sans-serif;
  font-size: clamp(10px, 16rem, 9999rem);
  font-weight: 400;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: keep-all;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  letter-spacing: -0.2rem;
  max-width: 780px;
  margin: 0 auto;
}
.my_home_taste_challenge ::-webkit-scrollbar {
  display: none;
}
.my_home_taste_challenge ::placeholder {
  color: #d6d6d6;
}
.my_home_taste_challenge * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  outline: none !important;
}
.my_home_taste_challenge h1,
.my_home_taste_challenge h2,
.my_home_taste_challenge h3,
.my_home_taste_challenge h4,
.my_home_taste_challenge h5,
.my_home_taste_challenge h6 {
  font-weight: inherit;
  font-size: inherit;
}
.my_home_taste_challenge table {
  border-collapse: collapse;
  border-spacing: 0;
}
.my_home_taste_challenge ol,
.my_home_taste_challenge ul {
  list-style: none;
}
.my_home_taste_challenge a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.my_home_taste_challenge button,
.my_home_taste_challenge input,
.my_home_taste_challenge select,
.my_home_taste_challenge textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.my_home_taste_challenge input[type=checkbox], .my_home_taste_challenge input[type=radio] {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.my_home_taste_challenge label {
  cursor: pointer;
}
.my_home_taste_challenge img,
.my_home_taste_challenge video,
.my_home_taste_challenge svg {
  display: block;
  border: none;
  width: 100%;
  max-width: unset;
}
.my_home_taste_challenge option {
  color: inherit;
}
.my_home_taste_challenge section {
  position: relative;
}
.my_home_taste_challenge picture {
  display: block;
  width: 100%;
}
.my_home_taste_challenge span {
  display: block;
}