@import "var";

.my_home_taste_challenge{ 
  
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  @at-root .PcPdpExhibitionDetailView_bannerArea__btHpF .combined_discount img{ max-width: unset;}
  abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, samp, section, small, strike, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, ul, var, video{ color: inherit; line-height: 1.4; font-size: inherit;}
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  .inner{ width: 100%; position: relative;}
  .f_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .flex_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include screen("pc") {
    .mo{ display: none !important;}
  }
  @include screen("mo") {
    .pc{ display: none !important;}
  }
  .pd_btm{padding-bottom: 60rem;}
  .tit_box{ text-align: center; margin-bottom: 28rem;
    h2{ @include font-size(26rem); font-weight: 700;}
    p{ @include font-size(15rem); color: #444; margin-top: 2rem;}
  }
  .btn{ width: 100%; height: 48rem; line-height: 48rem; background-color: #111; border-radius: 8rem; color: #fff; text-align: center; font-weight: 600; @include font-size(15rem);}
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  
  section{ position: relative; overflow: hidden; padding: 60rem $layout_pd;
    &#how_to_apply{ background-color: #EBEFF3; padding-top: 20rem;
      .apply_process{
        ol{ padding: 32rem 30rem; background-color: #fff; border-radius: 12rem; counter-reset: how_to_apply; box-shadow: 0 0 20rem rgba($color: #000, $alpha: .06);
          li{ position: relative; padding-left: 36rem; min-height: 72rem;
            &:not(:last-child){ margin-bottom: 12rem;
              &::after{    content: ""; width: 1px; position: absolute; left: 9.5rem; bottom: 0; top: 32rem; background-color: #111;}
            }
            &::before{ counter-increment: how_to_apply; content: counter(how_to_apply); width: 20rem; height: 20rem; background-color: #111; color: #fff; border-radius: 999rem; position: absolute; left: 0; top: 0; text-align: center; line-height: 20rem; @include font-size(11rem); font-weight: 600;}
            .txt_box{
              h3{ @include font-size(15rem); font-weight: 600;}
              p{ color: #444; margin-top: 2rem;}
            }
          }
        }
      }
    }
    &#mission{
      ul{
        li{ position: relative; color: #fff; border-radius: 8rem; overflow: hidden;
          + li{ margin-top: 8rem;}
          @include screen("pc") { 
            img{ object-fit: cover; object-position: center top; height: 578rem;}
          }
          .txt_box{ position: absolute; left: 0; bottom: 0; padding: 16rem 20rem; width: 100%;
            @include screen("mo") { padding-bottom: 45rem;}
            h3{ padding: 2rem 10rem; border-radius: 4rem; background-color: #fff; color: #111; @include font-size(14rem); font-weight: 600;  display: inline-block;}
            p{ margin-top: 8rem; @include font-size(12rem);}
          }
        }
      }
    }

    &#reward { background-color: #111;
      .tit_box h2 { color: #fff;}
      .reward_list {
        padding: 0 28rem; border-radius: 12rem; background-color: #fff;
        li {
          display: flex; align-items: center; gap: 8rem; min-height: 86rem; padding: 20rem 0;
          + li { border-top: 1px dashed #ddd; }
          img{ width: 54rem;}
          .txt_box { flex: 1; 
            h3 { font-weight: 600; @include font-size(16rem); 
              em { color: #666; }
            }
            p { margin-top: 2rem; color: #666; @include font-size(14rem);}
          }
        }
      }
    }
    &#notice{ background-color: #F1F3F2;
      .notice_list{padding: 30rem 20rem; background-color: #fff; border-radius: 12rem; box-shadow: 0 0 20rem rgba($color: #000, $alpha: .06); color: #666;
        li{ position: relative; padding-left: 6rem;
          &::before{ content: '·'; position: absolute; left: 0; top: 0;}
          + li{ margin-top: 2rem;}
        }
      }
    }

    &#ending{ padding: 0; text-align: center;
      .cover{ display: flex; flex-direction: column; justify-content: space-between; padding: 40rem $layout_pd;}
      .tit_box{ margin-bottom: 0;
        h2{margin-top: 4rem;
          em{ color: #FD6D00;}
        }
      }
    }
  }
}
