@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
.my_home_taste_challenge {
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
}
.PcPdpExhibitionDetailView_bannerArea__btHpF .combined_discount img {
  max-width: unset;
}

.my_home_taste_challenge abbr, .my_home_taste_challenge acronym, .my_home_taste_challenge address, .my_home_taste_challenge applet, .my_home_taste_challenge article, .my_home_taste_challenge aside, .my_home_taste_challenge audio, .my_home_taste_challenge big, .my_home_taste_challenge blockquote, .my_home_taste_challenge body, .my_home_taste_challenge canvas, .my_home_taste_challenge caption, .my_home_taste_challenge center, .my_home_taste_challenge cite, .my_home_taste_challenge code, .my_home_taste_challenge dd, .my_home_taste_challenge details, .my_home_taste_challenge dfn, .my_home_taste_challenge div, .my_home_taste_challenge dl, .my_home_taste_challenge dt, .my_home_taste_challenge embed, .my_home_taste_challenge fieldset, .my_home_taste_challenge figcaption, .my_home_taste_challenge figure, .my_home_taste_challenge footer, .my_home_taste_challenge form, .my_home_taste_challenge h1, .my_home_taste_challenge h2, .my_home_taste_challenge h3, .my_home_taste_challenge h4, .my_home_taste_challenge h5, .my_home_taste_challenge h6, .my_home_taste_challenge header, .my_home_taste_challenge hgroup, .my_home_taste_challenge html, .my_home_taste_challenge iframe, .my_home_taste_challenge img, .my_home_taste_challenge ins, .my_home_taste_challenge kbd, .my_home_taste_challenge label, .my_home_taste_challenge legend, .my_home_taste_challenge li, .my_home_taste_challenge mark, .my_home_taste_challenge menu, .my_home_taste_challenge nav, .my_home_taste_challenge object, .my_home_taste_challenge ol, .my_home_taste_challenge output, .my_home_taste_challenge p, .my_home_taste_challenge pre, .my_home_taste_challenge q, .my_home_taste_challenge ruby, .my_home_taste_challenge samp, .my_home_taste_challenge section, .my_home_taste_challenge small, .my_home_taste_challenge strike, .my_home_taste_challenge summary, .my_home_taste_challenge table, .my_home_taste_challenge tbody, .my_home_taste_challenge td, .my_home_taste_challenge textarea, .my_home_taste_challenge tfoot, .my_home_taste_challenge th, .my_home_taste_challenge thead, .my_home_taste_challenge time, .my_home_taste_challenge tr, .my_home_taste_challenge tt, .my_home_taste_challenge ul, .my_home_taste_challenge var, .my_home_taste_challenge video {
  color: inherit;
  line-height: 1.4;
  font-size: inherit;
}
.my_home_taste_challenge {
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.my_home_taste_challenge .inner {
  width: 100%;
  position: relative;
}
.my_home_taste_challenge .f_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my_home_taste_challenge .p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my_home_taste_challenge .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my_home_taste_challenge .flex {
  display: flex;
  justify-content: space-between;
}
.my_home_taste_challenge .flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_home_taste_challenge .flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.my_home_taste_challenge .flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.my_home_taste_challenge .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
@media (min-width: 781px) {
  .my_home_taste_challenge .mo {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .my_home_taste_challenge .pc {
    display: none !important;
  }
}
.my_home_taste_challenge .pd_btm {
  padding-bottom: 60rem;
}
.my_home_taste_challenge .tit_box {
  text-align: center;
  margin-bottom: 28rem;
}
.my_home_taste_challenge .tit_box h2 {
  font-size: clamp(8px, 26rem, 9999rem);
  font-weight: 700;
}
.my_home_taste_challenge .tit_box p {
  font-size: clamp(8px, 15rem, 9999rem);
  color: #444;
  margin-top: 2rem;
}
.my_home_taste_challenge .btn {
  width: 100%;
  height: 48rem;
  line-height: 48rem;
  background-color: #111;
  border-radius: 8rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: clamp(8px, 15rem, 9999rem);
}
.my_home_taste_challenge {
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.my_home_taste_challenge section {
  position: relative;
  overflow: hidden;
  padding: 60rem 20rem;
}
.my_home_taste_challenge section#how_to_apply {
  background-color: #EBEFF3;
  padding-top: 20rem;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol {
  padding: 32rem 30rem;
  background-color: #fff;
  border-radius: 12rem;
  counter-reset: how_to_apply;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.06);
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li {
  position: relative;
  padding-left: 36rem;
  min-height: 72rem;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li:not(:last-child) {
  margin-bottom: 12rem;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li:not(:last-child)::after {
  content: "";
  width: 1px;
  position: absolute;
  left: 9.5rem;
  bottom: 0;
  top: 32rem;
  background-color: #111;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li::before {
  counter-increment: how_to_apply;
  content: counter(how_to_apply);
  width: 20rem;
  height: 20rem;
  background-color: #111;
  color: #fff;
  border-radius: 999rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 20rem;
  font-size: clamp(8px, 11rem, 9999rem);
  font-weight: 600;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li .txt_box h3 {
  font-size: clamp(8px, 15rem, 9999rem);
  font-weight: 600;
}
.my_home_taste_challenge section#how_to_apply .apply_process ol li .txt_box p {
  color: #444;
  margin-top: 2rem;
}
.my_home_taste_challenge section#mission ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
@media (max-width: 780px) {
  .my_home_taste_challenge section#mission ul {
    grid-template-columns: 1fr;
  }
}
.my_home_taste_challenge section#mission ul li {
  position: relative;
  color: #fff;
  border-radius: 8rem;
  overflow: hidden;
}
.my_home_taste_challenge section#mission ul li img {
  object-fit: cover;
  object-position: center top;
}
@media (max-width: 780px) {
  .my_home_taste_challenge section#mission ul li img {
    height: 395rem;
  }
}
.my_home_taste_challenge section#mission ul li .txt_box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 16rem 20rem;
  width: 100%;
}
@media (max-width: 780px) {
  .my_home_taste_challenge section#mission ul li .txt_box {
    padding: 16rem;
  }
}
.my_home_taste_challenge section#mission ul li .txt_box h3 {
  padding: 2rem 10rem;
  border-radius: 4rem;
  background-color: #fff;
  color: #111;
  font-size: clamp(8px, 16rem, 9999rem);
  font-weight: 600;
  display: inline-block;
}
.my_home_taste_challenge section#mission ul li .txt_box p {
  margin-top: 10rem;
  font-size: clamp(8px, 13rem, 9999rem);
}
.my_home_taste_challenge section#reward {
  background-color: #111;
}
.my_home_taste_challenge section#reward .tit_box h2 {
  color: #fff;
}
.my_home_taste_challenge section#reward .reward_list {
  padding: 0 28rem;
  border-radius: 12rem;
  background-color: #fff;
}
.my_home_taste_challenge section#reward .reward_list li {
  display: flex;
  align-items: center;
  gap: 8rem;
  min-height: 86rem;
  padding: 20rem 0;
}
.my_home_taste_challenge section#reward .reward_list li + li {
  border-top: 1px dashed #ddd;
}
.my_home_taste_challenge section#reward .reward_list li img {
  width: 54rem;
}
.my_home_taste_challenge section#reward .reward_list li .txt_box {
  flex: 1;
}
.my_home_taste_challenge section#reward .reward_list li .txt_box h3 {
  font-weight: 600;
  font-size: clamp(8px, 16rem, 9999rem);
}
.my_home_taste_challenge section#reward .reward_list li .txt_box h3 em {
  color: #666;
}
.my_home_taste_challenge section#reward .reward_list li .txt_box p {
  margin-top: 2rem;
  color: #666;
  font-size: clamp(8px, 14rem, 9999rem);
}
.my_home_taste_challenge section#notice {
  background-color: #F1F3F2;
}
.my_home_taste_challenge section#notice .notice_list {
  padding: 30rem 20rem;
  background-color: #fff;
  border-radius: 12rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.06);
  color: #666;
}
.my_home_taste_challenge section#notice .notice_list li {
  position: relative;
  padding-left: 6rem;
}
.my_home_taste_challenge section#notice .notice_list li::before {
  content: "·";
  position: absolute;
  left: 0;
  top: 0;
}
.my_home_taste_challenge section#notice .notice_list li + li {
  margin-top: 2rem;
}
.my_home_taste_challenge section#ending {
  padding: 0;
  text-align: center;
}
.my_home_taste_challenge section#ending .cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40rem 20rem;
}
.my_home_taste_challenge section#ending .tit_box {
  margin-bottom: 0;
}
.my_home_taste_challenge section#ending .tit_box h2 {
  margin-top: 4rem;
}
.my_home_taste_challenge section#ending .tit_box h2 em {
  color: #FD6D00;
}