@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
.holiday_container {
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.PcPdpExhibitionDetailView_bannerArea__btHpF .combined_discount img {
  max-width: unset;
}

.holiday_container abbr, .holiday_container acronym, .holiday_container address, .holiday_container applet, .holiday_container article, .holiday_container aside, .holiday_container audio, .holiday_container big, .holiday_container blockquote, .holiday_container body, .holiday_container canvas, .holiday_container caption, .holiday_container center, .holiday_container cite, .holiday_container code, .holiday_container dd, .holiday_container details, .holiday_container dfn, .holiday_container div, .holiday_container dl, .holiday_container dt, .holiday_container embed, .holiday_container fieldset, .holiday_container figcaption, .holiday_container figure, .holiday_container footer, .holiday_container form, .holiday_container h1, .holiday_container h2, .holiday_container h3, .holiday_container h4, .holiday_container h5, .holiday_container h6, .holiday_container header, .holiday_container hgroup, .holiday_container html, .holiday_container iframe, .holiday_container img, .holiday_container ins, .holiday_container kbd, .holiday_container label, .holiday_container legend, .holiday_container li, .holiday_container mark, .holiday_container menu, .holiday_container nav, .holiday_container object, .holiday_container ol, .holiday_container output, .holiday_container p, .holiday_container pre, .holiday_container q, .holiday_container ruby, .holiday_container samp, .holiday_container section, .holiday_container small, .holiday_container strike, .holiday_container summary, .holiday_container table, .holiday_container tbody, .holiday_container td, .holiday_container textarea, .holiday_container tfoot, .holiday_container th, .holiday_container thead, .holiday_container time, .holiday_container tr, .holiday_container tt, .holiday_container ul, .holiday_container var, .holiday_container video {
  color: inherit;
}
.holiday_container .layout_inner {
  position: relative;
  max-width: 100%;
  width: 1420rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 20rem !important;
  padding-right: 20rem !important;
}
.holiday_container .inner {
  width: 100%;
  position: relative;
}
.holiday_container .f_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.holiday_container .p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.holiday_container .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.holiday_container .flex {
  display: flex;
  justify-content: space-between;
}
.holiday_container .flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.holiday_container .flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.holiday_container .flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 781px) {
  .holiday_container .mo {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .holiday_container .pc {
    display: none !important;
  }
}
.holiday_container section {
  position: relative;
  overflow: hidden;
}
.holiday_container section.holiday_cont {
  padding: 100rem 0;
}
@media (max-width: 780px) {
  .holiday_container section.holiday_cont {
    padding: 60rem 0;
  }
}
.holiday_container section.bg1 {
  background-color: #F5F2E3;
}
.holiday_container section.bg2 {
  background-color: #EDEAE4;
}
.holiday_container section .tit_box {
  margin-bottom: 113rem;
  text-align: center;
}
@media (max-width: 780px) {
  .holiday_container section .tit_box {
    margin-bottom: 40rem;
  }
}
.holiday_container section .tit_box h3 {
  font-weight: 700;
  font-size: 63rem;
  line-height: 1;
  font-family: "STSongti SC", "Pretendard", sans-serif;
}
@media (max-width: 780px) {
  .holiday_container section .tit_box h3 {
    font-size: 36rem;
  }
}
.holiday_container section .tit_box p {
  font-size: 20rem;
  margin-top: 16rem;
  color: #444;
}
@media (max-width: 780px) {
  .holiday_container section .tit_box p {
    margin-top: 12rem;
    font-size: 14rem;
  }
}
.holiday_container section .holiday_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80rem 60rem;
  counter-reset: holiday_pd;
}
@media (max-width: 780px) {
  .holiday_container section .holiday_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem 10rem;
  }
  .holiday_container section .holiday_list.ty_1 li:nth-child(4), .holiday_container section .holiday_list.ty_1 li:nth-child(5) {
    margin-top: -30rem;
  }
  .holiday_container section .holiday_list.ty_2 li {
    transform: none !important;
  }
  .holiday_container section .holiday_list.ty_2 li:nth-child(3), .holiday_container section .holiday_list.ty_2 li:nth-child(6) {
    margin-top: -30rem;
  }
  .holiday_container section .holiday_list.ty_3 li {
    transform: none !important;
  }
  .holiday_container section .holiday_list.ty_3 li:nth-child(1) {
    grid-row: span 2;
  }
  .holiday_container section .holiday_list.ty_3 li:nth-child(4) {
    margin-top: -135rem;
  }
}
.holiday_container section .holiday_list li {
  position: relative;
}
@media (min-width: 781px) {
  .holiday_container section .holiday_list li:not(:nth-child(2), :nth-child(5)) {
    margin-top: -260rem;
  }
}
.holiday_container section .holiday_list li .pd_wrap {
  position: relative;
}
.holiday_container section .holiday_list li .pd_wrap .txt_box {
  position: absolute;
  left: 20rem;
  bottom: 20rem;
  right: 20rem;
  background-color: #fff;
  padding: 10rem 16rem;
  color: #444;
}
@media (max-width: 780px) {
  .holiday_container section .holiday_list li .pd_wrap .txt_box {
    left: 8rem;
    bottom: 8rem;
    right: 8rem;
    padding: 8rem;
  }
}
.holiday_container section .holiday_list li .pd_wrap .txt_box::before {
  counter-increment: holiday_pd;
  content: counter(holiday_pd);
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 40rem;
  height: 40rem;
  line-height: 40rem;
  border-radius: 4rem 4rem 0 0;
  background-color: #000;
  color: #fff;
  font-size: 16rem;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 780px) {
  .holiday_container section .holiday_list li .pd_wrap .txt_box::before {
    width: 20rem;
    height: 20rem;
    line-height: 22rem;
    font-size: 11rem;
  }
}