@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
@import url("swiper.min.css");
@import url("main.css");
html {
  height: 100%;
  font-size: 1px;
}

@media (max-width: 1380px) {
  html {
    font-size: 0.07479432vw;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 0.25641vw;
  }
}
.wine_cellar {
  background-color: #ffffff;
  color: #111;
  font-family: "Pretendard", sans-serif;
  font-size: clamp(10px, 16rem, 9999rem);
  font-weight: 400;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: keep-all;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: left;
}
@media (max-width: 780px) {
  .wine_cellar {
    font-size: clamp(10px, 13rem, 9999rem);
  }
}
.wine_cellar ::-webkit-scrollbar {
  display: none;
}
.wine_cellar ::placeholder {
  color: #666;
}
.wine_cellar div,
.wine_cellar p,
.wine_cellar span,
.wine_cellar a,
.wine_cellar section,
.wine_cellar label,
.wine_cellar input,
.wine_cellar button,
.wine_cellar h1,
.wine_cellar h2,
.wine_cellar h3,
.wine_cellar h4,
.wine_cellar h5,
.wine_cellar h6,
.wine_cellar ul,
.wine_cellar ol,
.wine_cellar li,
.wine_cellar header,
.wine_cellar footer,
.wine_cellar main,
.wine_cellar b,
.wine_cellar i,
.wine_cellar em,
.wine_cellar strong,
.wine_cellar select,
.wine_cellar article,
.wine_cellar aside,
.wine_cellar details,
.wine_cellar figcaption,
.wine_cellar figure,
.wine_cellar footer,
.wine_cellar header,
.wine_cellar hgroup,
.wine_cellar menu,
.wine_cellar nav,
.wine_cellar section,
.wine_cellar object {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  outline: none !important;
}
.wine_cellar h1,
.wine_cellar h2,
.wine_cellar h3,
.wine_cellar h4,
.wine_cellar h5,
.wine_cellar h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wine_cellar table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wine_cellar ol,
.wine_cellar ul {
  list-style: none;
}
.wine_cellar a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.wine_cellar button,
.wine_cellar input,
.wine_cellar select,
.wine_cellar textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.wine_cellar input[type=checkbox], .wine_cellar input[type=radio] {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.wine_cellar label {
  cursor: pointer;
}
.wine_cellar img,
.wine_cellar video,
.wine_cellar svg {
  display: block;
  border: none;
  width: 100%;
  max-width: unset;
}
.wine_cellar option {
  color: inherit;
}
.wine_cellar section {
  position: relative;
}
.wine_cellar picture {
  display: block;
  width: 100%;
}