@import "var";

.wine_cellar{
  
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  @at-root .PcPdpExhibitionDetailView_bannerArea__btHpF .wine_cellar img{ max-width: unset;}
  abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, samp, section, small, strike, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, ul, var, video{ color: inherit; font-size: inherit; line-height: 1.4;}
  .swiper-wrapper{ height: auto;}
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  // LAYOUT INNER
  .layout_inner {
    position: relative;
    max-width: 100%;
    width: calc($layout_inner + $layout_pd*2) !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $layout_pd !important;
    padding-right: $layout_pd !important;
  }
  .inner{ width: 100%; position: relative;}
  .f_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .flex_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* WAVE */
  .wave{ width: 100%; display: flex; overflow: hidden; 
    > *{ flex-shrink: 0; animation: wave 100s linear infinite;}
    @keyframes wave {
      0%{ transform: translateX(0);}
      100%{ transform: translateX(-100%);}
    }

    &.reverse > *{ animation-direction: reverse;}
  }


  @include screen("pc") {
    .mo{ display: none !important;}
  }
  @include screen("mo") {
    .pc{ display: none !important;}
  }

  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  
  section{ position: relative; overflow: hidden;
    .wine_cellar_tit{ padding:100rem 0 40rem; letter-spacing: -.2rem;
      @include screen("mo") { padding: 60rem 0 28rem;}
      strong{ font-weight: 500; font-size: 16rem; line-height: 1; display: block; margin-bottom: 17rem; color: #512C08;
        @include screen("mo") { margin-bottom: 14rem;}
      }
      h2{ font-size: 32rem; font-weight: 600; color: #000;
        @include screen("mo") { font-size: 24rem;}
        span{ font-weight: 400;}
      }
    }
    .wine_cellar_tag{ font-weight: 600; display: inline-block; font-size: 12rem; background-color: #111; padding: 4rem 10rem 2rem; border-radius: 2rem; color: #fff;
      @include screen("mo") { padding: 2rem 6rem 1rem; font-size: 11rem;}
    }
    .wine_cellar_btn{ display: block; font-size: 16rem; font-weight: 600; padding: 17rem 0 15rem; width: 260rem; border-radius: 8rem; border: 1px solid #111; text-align: center; margin-top: 32rem; transition: .5s ease; 
      &.ty2{ background-color: #fff; border-color: #D9DDE1;}
      @include screen("mo") { font-size: 15rem; padding: 14rem 0; width: 100%; margin-top: 24rem;}
      &:hover{ background-color: rgba($color: #fff, $alpha: .05);}
    }

    &.wine_cellar_benefits{
      ul{ display: flex; gap: 12rem;
        @include screen("mo") { flex-direction: column;}
        li{ display: flex; align-items: center; justify-content: space-between; padding: 38rem 24rem 38rem 40rem; width: 100%; background-color: #f9f9f9; border-radius: 8rem;
          @include screen("mo") { padding: 25rem 20rem 25rem 28rem;}
          .txt_box{
            .wine_cellar_tag{ background-color: #f3f0Eb; color: #512C08;}
            strong{ font-weight: 600; font-size: 24rem; display: block; margin: 8rem 0 2rem;
              @include screen("mo") { font-size: 18rem;}
              em{ color: #CB0E41;}
            }
            p{ color: #444;}
          }
          img{ width: 80rem; 
            @include screen("mo") { width: 64rem;}
          }
        }
      }
    }

    &.wine_cellar_product{ padding-bottom: 100rem;
      @include screen("mo") { padding-bottom: 60rem;}
      .option{
        ul{ display: flex; gap: 20rem;
          @include screen("mo") { flex-wrap: wrap; gap: 12rem;}
          li{ width: 100%; border: 1px solid #ddd; text-align: center; padding: 50rem 0; border-radius: 8rem;
            @include screen("mo") { padding: 20rem 0; width: calc(50% - 6rem);
              &:first-child{ width: 100%;}
            }
            img{ width: 260rem; margin: 0 auto 20rem;
              @include screen("mo") { width: 150rem;}
            }
            .txt_box{
              p{ display: inline-block; font-size: 20rem; font-weight: 600; transform: translateY(2rem); margin:0 0 8rem 9rem;
                @include screen("mo") { font-size: 14rem; margin-left: 0; transform: translateY(0); margin: 10rem 0 4rem; display: block;}
              }
              b{ display: block; color: #444; font-weight: 400;
                @include screen("mo") { font-size: 13rem;}
              }
            }
          }
        }
        .wine_cellar_btn{ margin-left: auto; margin-right: auto;}
        
        &.ty2{
          ul{
            li{ cursor: pointer;
              @include screen("mo") { width: 100%;}
              img{ width: auto; height: 360rem;
                @include screen("mo") { height: 170rem;}
              }
            }
          }
        }
      }


      .banner{ display: flex; align-items: center; flex-direction: row-reverse; margin-top: 76rem; background-color: #F9F9F9; border-radius: 8rem; overflow: hidden;
        @include screen("mo") { margin-top: 60rem; display: block;}
        @include screen("pc") { 
          > *{ width: 50%;}
        }
        .txt_box{ padding: 70rem;
          @include screen("mo") { padding: 28rem 20rem 40rem; text-align: center;}
          strong{ font-size: 32rem; font-weight: 700; display: block;
            @include screen("mo") { font-size: 20rem;}
          }
        }
      }
    }

    &.wine_cellar_check_point{ background-color: #F7F3F0; padding-bottom: 100rem;
      @include screen("mo") { padding-bottom: 60rem;}
      ol{ display: grid; grid-template-columns: 1fr 1fr; gap: 12rem 10rem;
        @include screen("mo") { grid-template-columns: 1fr;} 
        li{ background-color: #fff; border-radius: 8rem; display: flex; align-items: center; justify-content: space-between; padding: 0 41rem 0 36rem; height: 164rem;
          @include screen("mo") { padding: 23rem 28rem; height: 140rem;}
          .txt_box{ letter-spacing: -.4rem;
            p{ color: #444; letter-spacing: 0;}
            strong{ font-size: 20rem; font-weight: 600; display: block; margin: 4rem 0 8rem;
              @include screen("mo") { font-size: 18rem; margin: 4rem 0 2rem;}
            }
            span{ font-size: 14rem; opacity: .5;
              @include screen("mo") { font-size: 12rem;}
            }
          }
          img{ width: 60rem; position: relative;
            @include screen("mo") { width: 48rem;}
          }
        }
      }
    }
    &.wine_cellar_gallery{ padding: 140rem 0;
      @include screen("mo") { padding: 60rem 0;}
      img{ width: 100%;}
    }

    .notice_box{ margin-top: 60rem; padding-top: 16rem; border-top: 1px solid #e7e7e7; text-align: left;
      @include screen("mo") { margin-top: 32rem; padding-top: 16rem;}
      + .notice_box{ margin-top: 40rem; padding-top: 0; border-top: none;
        @include screen("mo") { margin-top: 20rem;}
      }
      button{ font-size: 17rem; font-weight: 600;
        @include screen("mo") { font-size: 13rem; width: 100%; display: flex; align-items: baseline; justify-content: space-between;}
        &::after{ content: ''; display: inline-block; width: 6rem; height: 6rem; border: 1px solid #111; border-width:0 2px 2px 0; transform: rotate(45deg) translate(2rem, -8rem);
          @include screen("mo") { border-width: 0 1px 1px 0; transform: rotate(45deg) translate(-4rem, -2rem);}
        }  
      }
      ul{ padding-top: 12rem; font-size: 14rem; color: $gray; line-height: 1.5; display: none;
        @include screen("mo") {  font-size: 12rem;}
        li{ padding-left: 10rem; position: relative;
          @include screen("mo") { padding-left: 7rem;}
          &::before{ content: '∙'; position: absolute; left: 0; top: 0;
            @include screen("mo") { top: -2rem;}
          }
        }
      }
      &.on{
        button::after{ transform: rotate(225deg) translate(-5rem, 5rem);
          @include screen("mo") { transform:rotate(225deg);}
        }
        ul{ display: block;}
      }
    }
  }
}