@import "var";

.monthly_home_set{
  @include screen("mo") { padding-bottom: 60rem;}
  
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  @at-root .PcPdpExhibitionDetailView_bannerArea__btHpF .monthly_home_set img{ max-width: unset;}
  abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, samp, section, small, strike, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, ul, var, video{ color: inherit; font-size: inherit; line-height: 1.4; font-weight: inherit;}
  .swiper-wrapper{ height: auto;}
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  // LAYOUT INNER
  .layout_inner {
    position: relative;
    max-width: 100%;
    width: calc($layout_inner + $layout_pd*2) !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $layout_pd !important;
    padding-right: $layout_pd !important;
  }
  .inner{ width: 100%; position: relative;}
  .f_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .flex_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* WAVE */
  .wave{ width: 100%; display: flex; overflow: hidden; 
    > *{ flex-shrink: 0; animation: wave 100s linear infinite;}
    @keyframes wave {
      0%{ transform: translateX(0);}
      100%{ transform: translateX(-100%);}
    }

    &.reverse > *{ animation-direction: reverse;}
  }


  @include screen("pc") {
    .mo{ display: none !important;}
  }
  @include screen("mo") {
    .pc{ display: none !important;}
  }

  /* SWIPER */
  .nav{
    span{ display: flex; align-items: center; justify-content: center; width: 48rem; height: 48rem; border-radius: 50%; background: #fff; z-index: 1; cursor: pointer; transition: .3s ease;
      &::after{ content: ''; width: 20rem; height: 20rem; background: url(https://www.lge.co.kr/home_style_pages/2026/01/monthly_home_set/src/images/arr.svg)no-repeat center center / contain; transition: .3s ease;} 
      &.nxt::after{ transform: rotate(180deg);}
      &:hover{
        &::after{ transform: translateX(-3rem);}
        &.nxt::after{ transform: rotate(180deg) translateX(-3rem);}
      }
      &.swiper-button-disabled{ opacity: .5; cursor: default;}
    }
  }
  .pagi{ bottom: 0; margin-top: 25rem; text-align: center; font-size: 0;
    @include screen("mo") { margin-top: 20rem;}
    span{display: inline-block; width: 8rem; height: 8rem; border-radius: 999rem;  margin: 0 3rem !important; transition: .3s ease; background-color: #ddd; opacity: 1;
      @include screen("mo") { width: 6rem; height: 6rem;}
      &.swiper-pagination-bullet-active{ width: 20rem; background-color: #000;}
    }
  }
  .scr_bar{ background-color: rgba($color: #000, $alpha: .08); width: 80rem; height: 3rem; margin: 27rem auto 0;
    .swiper-scrollbar-drag{ background-color: #000;}
  }
  .slide_nav{ justify-content: center; gap: 8rem; margin-top: 30rem;
    span{ display: flex; align-items: center; justify-content: center; width: 36rem; height: 32rem; border-radius: 6rem; background: #fff; z-index: 1; cursor: pointer; transition: .3s ease; border: 1px solid #DEE1E5;
      &::after{ content: ''; width: 16rem; height: 16rem; background: url(https://www.lge.co.kr/home_style_pages/2026/01/monthly_home_set/src/images/arr.svg)no-repeat center center / contain; transition: .3s ease;} 
      &.nxt::after{ transform: rotate(180deg);}
      &:hover{
        &::after{ transform: translateX(-3rem);}
        &.nxt::after{ transform: rotate(180deg) translateX(-3rem);}
      }
      &.swiper-button-disabled{ opacity: .5; cursor: default;}
    }

    .total_crnt{ font-size: 14rem;
      .total{  color: #727780;
        &::before{ content: '/ ';}
      }
      .crnt{ font-weight: 600;}
    }
  }
  /* //SWIPER */

  .notice_box{ margin-top: 60rem; padding-top: 16rem; border-top: 1px solid #e7e7e7; text-align: left;
    @include screen("mo") { margin-top: 32rem; padding-top: 16rem;}
    button{ font-size: 17rem; font-weight: 500; color: #777;
      @include screen("mo") { font-size: 13rem; width: 100%; display: flex; align-items: baseline; justify-content: space-between;}
      &::after{ content: ''; display: inline-block; width: 6rem; height: 6rem; border: 1px solid #111; border-width:0 2px 2px 0; transform: rotate(45deg) translate(2rem, -8rem); filter: invert(.5); 
        @include screen("mo") { width: 4rem; height: 4rem; border-width:0 1px 1px 0; transform: rotate(45deg) translate(-4rem, -1rem);}
      }  
    } 
    .notice_cont{ display: none; color: $gray; font-size: 14rem;  margin-top: 15rem;
      @include screen("mo") {  font-size: 12rem;}
      strong{ display: block; margin-bottom: 4rem; font-weight: 600;}
      ul{ line-height: 1.5;
        + strong{ margin-top: 10rem;}
        li{ padding-left: 10rem; position: relative;
          &.bold{ font-weight: 600;}
          @include screen("mo") { padding-left: 7rem;}
          &::before{ content: '∙'; position: absolute; left: 0; top: 0;
            @include screen("mo") { top: -1rem;}
          }
        }
      }
    }
    &.on{
      button::after{ transform: rotate(225deg) translate(-5rem, 5rem);
        @include screen("mo") { transform: rotate(225deg) translate(2rem, -1rem);}
      }
      .notice_cont{ display: block;}
    }
    &.ty_black{ border-top-color: #666;}
    &.ty_cnt{ text-align: center;
      button{ justify-content: center; gap: 10rem;}
      .notice_cont{
        ul li{ display: block; padding: 0;
          &::before{ position: relative; margin-right: 5rem;}
        }
      }
    }
    &.ty_white button{ color: #ccc;
      &::after{ filter: invert(0.9);}
    }
  }

  .pd_b{ padding-bottom: 100rem;
    @include screen("mo") { padding-bottom: 60rem;}
  }

  .cont_bg{ background-color: $brown;}

  &.combined_discount_2603 .home_set_tit h2{ font-size: 32rem;
    @include screen("mo") { font-size: 26rem;}
  }
  .home_set_tit{ text-align: center; padding: 100rem 0 32rem; 
    @include screen("mo") { padding: 60rem 0 28rem;}
    h2{ font-size: 28rem; font-weight: 700; letter-spacing: -.1rem;
      @include screen("mo") { font-size: 22rem;}
      em{ color: $ci;}
      b{ color: #B97A38; font-weight: inherit;}
    }
    p{font-size: 18rem; color: #444;
      @include screen("mo") { font-size: 15rem; margin-top: 2rem;}
    }
  }

  .home_set_btn{ display: block; font-size: 16rem; font-weight: 600; padding: 17rem 0 15rem; width: 260rem; border-radius: 8rem; border: 1px solid #D9DDE1; text-align: center; margin: 32rem auto 0; transition: .5s ease;
    @include screen("mo") { font-size: 15rem; padding: 14rem 0; width: 100%; margin-top: 20rem;}
    &:hover{ background-color: rgba($color: #000000, $alpha: .05);}
    &.ty_black{ background-color: #111; color: #fff;}
  }

  .home_set_tab{ display: flex; justify-content: center; gap: 16rem; margin-bottom: 20rem;
    @include screen("mo") { margin-bottom: 12rem; gap: 8rem;
      &.m_scr{ justify-content: flex-start; padding:0 20rem; overflow-x: auto;}
    }
    button{ padding: 10rem 16rem; background-color: #fff; border-radius: 999rem; font-size: 18rem; color: #111; transition: .3s ease; border: 1px solid #DEE1E5; white-space: nowrap;
      @include screen("mo") { padding: 8rem 14rem; font-size: 13rem;}
      &.on{ background-color: #111; color: #fff;}
    }
  }

  .c-product__list:not(.ty_row){ margin-top: 16rem; display: grid; gap: 32rem 12rem; grid-template-columns: repeat(4, 1fr);
    @include screen("mo") { margin-top: 8rem; gap:28rem 8rem; grid-template-columns: repeat(2, 1fr);}
    .c-product__item{ min-width: 0; position: relative;
      // 품절상품 & 제품조회실패는 SOLD OUT 처리
      &.c-product__item--error{ touch-action: none; pointer-events: none;
        &::after{ content: 'SOLD OUT'; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #efedeb; border-radius: 8rem; display: flex; align-items: center; justify-content: center; color: #000;}
      }
      // 품절상품 & 제품조회실패는 SOLD OUT 처리
      
      .c-product__visual{ border-radius: 8rem; overflow: hidden;}
      .c-product__info-container{ padding: 12rem 8rem 0;
        .c-product__info{ margin-bottom: 12rem;
          @include screen("mo") { margin-bottom: 6rem;}
          .c-product__name{ display: block; font-weight: 400; @include ellip();
            @include screen("mo") { @include ellip(2); height: 35rem;}
          }
        }
        .c-product__price-area{ margin-top: 12rem;
          @include screen("mo") { margin-top: 0;}
          .c-product__price-item--original{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 3rem; display: none;
            @include screen("mo") { margin-bottom: 0;}
            &::before{ content: '정상가'; font-weight: 500; font-size: 11rem; color: #444;}
            .c-product__price-value--original{ color: #888; font-size: 14rem;
              @include screen("mo") { font-size: 13rem;}
            }
          }
          .c-product__price-item--member{ display: flex; align-items: center; color: #ea1917; flex-wrap: wrap;
            &::before{ content: '최대혜택가'; font-weight: 500; margin-right: auto; display: none;}
            .discount_rate{ font-size: 16rem; font-weight: 600; margin-right:4rem;
              @include screen("mo") { font-size: 15rem;}
              &::after{ content: '%'; }
            }
            .c-product__price-value--member{ font-weight: 600; font-size: 16rem; color: #000;
              @include screen("mo") { font-size: 14rem;}
            }
          }
        }
        .c-product__badge-container{ margin-left: 0; display: flex; gap: 4rem; white-space: nowrap; padding-top: 2rem; width: 100%;
          > span{ display: inline-block; font-size: 11rem; padding: 3rem 4rem; background-color: #F3F5F7; color: #444444;
            @include screen("mo") { font-size: 10rem;}
          }
        }
      }
    }
  }

  .c-product__list.ty_row{ display: grid; gap: 12rem;  grid-template-columns: 1fr 1fr; grid-template-rows: auto;
    @include screen("mo") { display: flex; flex-wrap: wrap; gap: 8rem;}
    .c-product__item{ background-color: #fff;border-radius: 8rem; overflow: hidden; position: relative; height: 180rem;
      @include screen("mo") { width: 100%; height: auto !important;}
      .c-product__sold-out-hidden-txt{ display: none !important; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba($color: #000000, $alpha: .2); display: flex; align-items: center; justify-content: center;
      }
      > span {display: flex; height: 100%; align-items: center;
        > a{ width: 88rem; height: 88rem; flex-shrink: 0;
          @include screen("mo") { height: 80rem; width: 80rem;}
          *{ width: 100%; height: 100%; object-fit: cover;}
        }
      }
      .c-product__info-container{ padding: 0 0 0 8rem; width: calc(100% - 88rem); text-align: right; 
        @include screen("mo") { padding: 10rem; width: calc(100% - 80rem);}
        .inner{ width: 100%; height: 100%; position: relative;  display: flex; align-items: flex-end; flex-direction: column; justify-content: flex-end; 
          @include screen("mo") { display: block;}
          > a{ width: 100%;
            .c-product__info{ position: absolute; left: 0; top: 0; text-align: left;
              @include screen("mo") { position: relative;}
              .c-product__brand-name{ font-size: 12rem;}
              .c-product__name{ font-weight: 400; @include ellip(); margin-bottom: 6rem;
                @include screen("mo") { font-size: 12rem;}
              }
            }
            .c-product__price-area{
              .c-product__price-item--original{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem;
                @include screen("mo") { margin-bottom: 0;}
                &::before{ content: '정상가'; font-weight: 500; font-size: 12rem; color: #727780;
                  @include screen("mo") { font-size: 9rem;}
                }
              }
              .c-product__price-item--member{ display: flex; align-items: center; line-height: 1.1; letter-spacing: -0.2rem;
                &::before{ content: '최대혜택가'; font-weight: 500; margin-right: auto; font-size: 12rem; color: #FD312E; 
                  @include screen("mo") { font-size: 9rem; font-weight: 600;}
                }
              }
            }
          }
        }
      }
      
      .c-product__price-value--original{ color: #727780; line-height: 1;}
      .c-product__price-value--member{ font-weight: 600; font-size: 16rem;
        strong{font-weight: inherit;}
        @include screen("mo") { font-size: 14rem;}
      }
      .discount_rate{ color: #FD312E; font-weight: 600; font-size: 16rem; margin-right: 4rem;
        @include screen("mo") { font-size: 14rem;}
        &::after{ content: '%';}
      }
      .c-product__badge-container{ display: flex; gap: 4rem; white-space: nowrap;margin-left: 8rem;
        span{ font-size: 11rem; padding: 3rem 4rem; background-color: #F3F5F7; color:#444; font-weight: 500;
          @include screen("mo") { font-size: 10rem;}
          &:nth-child(2){ color: #747474; background-color: #EFEFEF;}
        }
      }
      @at-root .monthly_home_set .lge__item{
        .c-product__price-area{
          .c-product__price-item--member{ margin: 3rem 0;
            &::before{ content: '혜택가' !important; color: #727780 !important;}
          }
          .c-product__price-item--final{display: flex; align-items: center; letter-spacing: -.2rem;
            .c-product__price-label--final{content: "최대혜택가"; font-weight: 600; margin-right: 4rem; font-size: 12rem; color: #FD312E; }
            .c-product__price-value--final{  font-size: 16rem;
              strong{ font-weight: 600;}
              @include screen("mo") { font-size: 14rem; }
            }
          }
        }
      } 
    }
  }

  @at-root .monthly_home_set .lge__item .c-product__info .c-product__model-id,
  .c-product__list .c-product__item .c-product__info-container .inner > a .c-product__info .c-product__brand-name{ font-weight: 600; color: #444; font-size: 12rem;
    @include screen("mo") { font-size: 11rem;}
  }
  .lge__item .c-product__info{ display: flex; flex-direction: column-reverse;}
  .c-product__item{
    .blind{ display: none;}
  }
    
  /* 품절 */
  .c-product__item.c-product__item--sold-out{ touch-action: none; pointer-events: none;
    > span > a{ position: relative;
      &::after{ content: '일시품절'; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: #0005; display: flex; align-items: center; justify-content: center; color: #fff; border-radius: 8rem; white-space: nowrap; @include font-size(12rem); z-index: 1;}
    }
    .c-product__info-container{ opacity: .5;}
  }

  .banner_box{ margin-top: 20rem;
    a + a{ margin-top: 20rem;}
  }

  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  
  section{ position: relative; overflow: hidden;
    &.navigation_tab { position: sticky; top: 0; background-color: #111111; color: #fff; font-size: 20rem; font-weight: 500; z-index: 5;
      @include screen("mo") { font-size: 14rem; white-space: nowrap; font-weight: 400; top: 56px;}
      nav{
        ul{ display: flex; justify-content: center; gap: 103rem; padding: 0 20rem;
          @include screen("mo") { gap: 30rem; justify-content: flex-start; overflow-x: auto; scroll-behavior: smooth;}
          li{ padding:  14rem 0 12rem; border-bottom: 2px solid transparent;
            &.on{ color: $ci;
              border-bottom-color: $ci;
            }
          }
        }
      }
    }

    &#benefits{
      .benefits_coupon{
        .brand_box{
          p{ margin-top: 15rem; text-align: center; font-size: 16rem; color: #444;}
          @include screen("mo") { 
            &.ty_mo_col{ flex-direction: column; gap: 8rem;}
          }
        }
        .coupon_box{ width: 682rem; max-width: 100%; margin: 0 auto;
          button, a{ width: 100%; display: block;
            + *{ margin-top: 12rem;
              @include screen("mo") { margin-top: 8rem;}
            }
          }
        }
      }
      .benefits_info{
        .swiper{
          @include screen("mo") { overflow: visible;
            .home_set_tab{ overflow-x: auto; margin-left: -$layout_pd; width: calc(100% + $layout_pd*2); padding: 0 $layout_pd; justify-content: flex-start;}
          }

          .home_set_tab{ gap: 4rem;
            button{ border-radius: 8rem; border: 1px solid #ddd; color: #666; background-color: #fff; padding: 6rem 8rem; font-size: 12rem; font-weight: 400;
              &.on{ border-color: #111; color: #111; font-weight: 600;}
            }
          }
          
          ul{ 
            @include screen("pc") { transform: none !important; width: 100% !important; gap: 12rem; display: grid !important; grid-template-columns: 1fr 1fr !important;}
            li{ border-radius: 8rem; background-color: #F6F4F5; padding: 21rem 36rem; display: flex; align-items: center; justify-content: space-between; min-height: 146rem;
              @include screen("pc") { margin: 0 !important; width: 100% !important;}
              @include screen("mo") { padding: 20rem 20rem 20rem 32rem; min-height: 123rem;}
              &[onclick]{ cursor: pointer;
                .txt_box{
                  strong::after{ content: ''; display: inline-block; width: 7rem; height: 7rem; border: 1px solid #111; border-width:0 2px 2px 0; transform: rotate(-45deg) translate(5rem, 1rem);
                    @include screen("mo") { width: 6rem; height: 6rem; transform: rotate(-45deg) translate(5rem, 2rem);}
                  } 
                }
              }
              .txt_box{
                span{ color: #444;}
                strong{ display: block; font-weight: 600; font-size: 20rem; margin: 4rem 0 8rem;
                  @include screen("mo") { font-size: 16rem; margin: 2rem 0;}
                }
                p{opacity: .5;
                  &.txt2{ font-size: 12rem; margin-top: 8rem;
                    @include screen("mo") { font-size: 11rem; margin-top: 6rem;}
                  }
                }
              }
              img{width: 100rem;
                @include screen("mo") { width: 64rem;}
              }
            }
          }
        }

        &.ty2{ background-color: #F6F6F6; margin-top: 100rem;
          @include screen("mo") { margin-top: 60rem;}
          .swiper{
            ul{ 
              @include screen("pc") {  gap: 2rem;}
              li{ border-radius: 0; background-color: #fff; min-height: 128rem; 
                @include screen("mo") { min-height: 123rem; align-items: flex-start;}
                .txt_box{
                  strong{ margin: 0 0 8rem;
                    em{ color: #FD312E;}
                  }
                  p{opacity: 1; font-size: 15rem; color: #444; font-weight: 500;
                    @include screen("mo") { font-size: 13rem;}
                    &.txt2{ margin-top: 0; color: #8F8F8F; font-weight: 400;
                      @include screen("pc") { font-size: 14rem;}
                    }
                  }
                }
                .img_box{ width: 80rem; height: 80rem; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: rgba($color: #000000, $alpha: .8);
                  @include screen("mo") { width: 48rem; height: 48rem; flex-shrink: 0;}
                  img{width: 42rem;
                    @include screen("mo") { width: 30rem;}
                  }
                }
              }
            }
          }
        }
      }
    }
    
    &#specialbrand{
      .special_brand_cont{
        .special_brand_pd{
          article{ display: none;
            &.on{ display: block;}
            > a{ border-radius: 8rem; overflow: hidden;} 
            .c-product--home-style{ margin-top: 12rem;
              @include screen("mo") { margin-top: 8rem;}
            }
            .home_set_btn{ border-color: #444;}
          }
        }
      }
    }

    &#categorybest{
      .category_pd_box{
        .category_tab{ display: flex; justify-content: center; gap: 26rem; margin-bottom: 24rem;
          @include screen("mo") { margin-bottom: 12rem; gap: 0;}
          button{ opacity: .4;
            @include screen("mo") { width: 100%;} 
            &.on { opacity: 1;
              .img_box{ border-color: #000;}
            }
            .img_box{border: 2px solid transparent; border-radius: 16rem; overflow: hidden;
              @include screen("mo") { width: 56rem; margin: 0 auto;}
            }
            p{ margin-top: 6rem; color: #000;}
          }
        }
        .category_pd_list{
          article{ display: none;
            &.on{ display: block;}
          }
        }
      }
    }
    
    &#crosssale{
      .swiper{ 
        @include screen("mo") { overflow: visible;}
        .swiper-slide{ border-radius: 8rem; overflow: hidden;
          .c-product{ position: absolute; right: 32rem; top: 50%; transform: translateY(-50%);
            @include screen("mo") { right: 10rem; left: 10rem; transform: none; top: auto; bottom: 16rem;}
            .c-product__list{ grid-template-columns:1fr; gap: 8rem;
              @include screen("mo") { gap: 6rem;}
              > .c-product__item{ width: 595rem; height: 170rem;
                @include screen("mo") { width: 100%;}
                > span > a{ width: 157rem;
                  @include screen("mo") { width: 106rem;}
                }

                .c-product__visual{ padding: 15rem; padding-right: 0 !important;
                  @include screen("mo") { padding: 10rem;}
                  .c-product__image-wrapper{ border-radius: 4rem; overflow: hidden;}
                }
                .c-product__info-container{ padding-left: 18rem; width: calc(100% - 157rem);
                  @include screen("mo") { padding-left: 12rem; width: calc(100% - 106rem);
                    .inner > a .c-product__info{ margin-bottom: 3rem;
                      .c-product__name{ font-size: 13rem; line-height: 1.3;
                        @include screen("mo") { font-size: 12rem;}
                      }
                    }
                  }
                
                }
              }
            }
          }
        }
      }
      .banner_box{ margin-top: 32rem;
        @include screen("mo") { margin-top: 42rem;}
      }
    }
    
    &#weeklysale{
      .c-product--home-style{
        .c-product__list{
          .c-product__item:nth-child(n+13){ display: none;}
        } 
      }
    }
    
    &#homestyling{
      .swiper{ 
        @include screen("mo") { overflow: visible;}
        .swiper-slide{ border-radius: 8rem; background-color: #EEE0E0; overflow: hidden;
          .cont_box{
            .txt_box{ padding: 20rem 28rem; color: #444;
              @include screen("mo") { padding: 20rem;}
              span{ font-size: 14rem;
                @include screen("mo") { font-size: 11rem;}
              }
              strong{ display: block; font-size: 22rem; font-weight: 600; margin: 6rem 0 8rem; line-height: 1.3;
                @include screen("mo") { font-size: 20rem;}
              }
              a{ color: #727780; font-size: 13rem;
                &::after{ content: ''; display: inline-block; width: 4rem; height: 4rem; border: 1px solid #111; border-width:0 1px 1px 0; transform: rotate(-45deg) translate(5rem, 2rem); filter: invert(.5);} 
              }
            }
            .pd_box{ display: flex; gap: 8rem; padding: 0 28rem 24rem; overflow-x: auto;
              @include screen("mo") { padding: 0 20rem 20rem;}
              img{ border-radius: 8rem; overflow: hidden;
                @include screen("mo") { width: 96rem; flex-shrink: 0;}
              }
            }
          }

          &.ending_sld{ color: #fff;
            .txt_box{ position: absolute; left: 0; bottom: 74rem; width: 100%; text-align: center;
              @include screen("mo") { bottom: 32rem;}
              p{font-size: 22rem; font-weight: 600; 
                @include screen("mo") { font-size: 20rem;}
              }
              .arr{ display: block; width: 24rem; height: 24rem; background: #fff url(../images/arr.svg)no-repeat center center / 14rem auto; border-radius: 999rem; margin: 16rem auto 0; transform: rotate(180deg);
                @include screen("mo") { width: 20rem; height: 20rem; background-size: 12rem auto; margin-top: 3rem;}
              }
            }
          }
        }

        .nav{
          span{ position: absolute; left: 12rem; top: 192rem;
            &.nxt{ left: auto; right: 12rem;}
          }
        }
      }
    }

    &#interior{
      .swiper{
        .nav{
          span{ position: absolute; left: 32rem; top: 295rem;
            &.nxt{ left: auto; right: 32rem;}
          }
        }
      }
    }

    &#special_brand{
      .special_brand_list{
        > li{ border-radius: 16rem; overflow: hidden; display: flex; background-color: #fff;
          @include screen("mo") { display: block;}
          + li{ margin-top: 24rem;
            @include screen("mo") { margin-top: 20rem;}
          }
          &:nth-child(even){ flex-direction: row-reverse;}
          .img_box{ width: 630rem; flex-shrink: 0;
            @include screen("mo") { width: 100%;}
            img{ width: 100%;}
          }
          .txt_box{ padding: 40rem; display: flex; flex-direction: column; justify-content: space-between; width: 100%; position: relative;
            @include screen("mo") { padding: 16rem 20rem 20rem;}
            .brand_info{
              h3{font-size: 26rem; font-weight: 600;}
              p{ margin-top: 4rem; font-size: 16rem; color: #444;}
              a{ font-weight: 500; font-size: 13rem; padding: 8rem 20rem; border: 1px solid #000; border-radius: 999rem; width: max-content; margin-top: 20rem; transition: .3s ease; text-align: center;
                &:hover{ background-color: rgba($color: #000000, $alpha: .05);}
                @include screen("mo") { margin-top: 0; width: 100%; padding: 10rem; font-size: 14rem;}
              }
              @include screen("mo") { margin-top: 0; position: absolute; left: 20rem; bottom: 24rem; right: 20rem;}
            }
            .c-product--home-style{
              .c-product__list{ gap: 16rem 12rem;
                @include screen("mo") { gap: 8rem;}
                .c-product__item{ padding: 0 !important;}
              }
            }
          }
        }
      }
    }
  }

  /* COMBINED DISCOUNT */
  &.combined_discount{
    .cont_bg{ background-color: #EAEAEA;}
    .bg_black{ background-color: #000; 
      .home_set_tit{ color: #fff;
        p{ color: #ccc;}
      }
      .home_set_btn{ color: #ccc;}
    }
    .bg_beige{ background-color: #EEEFEA;}
    .c-product__item:not(.not_badge) .c-product__badge-container{
      &::before{ content: '결합할인'; display: inline-block; font-size: 11rem; padding: 3rem 4rem; background-color: #F3F5F7; color: #444; font-weight: 500;
        @include screen("mo") { font-size: 10rem;}
      }
    }
    section{
      &#benefits{
        .brand_box{display: flex; gap: 12rem;
          @include screen("mo") { gap: 5rem;}
          @include screen("pc") { 
            &.ty_row_3{ display: grid; grid-template-columns: repeat(3, 1fr);}
          }
        }
      }
      &#popular_combination{
        .combination_box{ display:grid; grid-template-columns: 1fr 1fr 1fr; gap: 12rem;
          @include screen("mo") { display: flex; flex-direction: column; gap: 12rem;}
          article{ border-radius: 8rem; overflow: hidden; 
            .img_box{}
            .c-product{
              .c-product__list{ grid-template-columns: 1fr; gap: 0;
                .c-product__item{ border-radius: 0;}
              }
            }
          }
        }

        &.ty2{
          .combination_box{
            article{ padding: 32rem 20rem 28rem; background-color: #fff;
              .c-product{ border-top: 1px solid #DDDDDD;
                .c-product__item{
                  + .c-product__item{ border-top: 1px dashed #ccc;}
                  // @include screen("pc") { 
                  //   .c-product__info-container{ padding: 0 0 0 16rem;}
                  // }
                }
              }
              .final_price_box{ border-top: 1px solid #8F8F8F; padding-top: 20rem;
                @include screen("mo") { padding-top: 16rem;}
                .final_price{ font-size: 18rem; font-weight: 600; display: flex; align-items: center; justify-content: space-between;
                  @include screen("mo") { font-size: 15rem;}
                  strong{ font-weight: inherit;
                    &::after{ content: '원';}
                  }
                }
                .total_discount{ color: #FD312E; font-weight: 500; font-size: 12rem; text-align: right;}
              }
            }
          }
        }
      }
      &#crosssale{
      }
      &#category_pd{
        @include screen("mo") { 
          .home_set_tab{ overflow-x: auto; margin-left: -$layout_pd; width: calc(100% + $layout_pd*2); padding: 0 $layout_pd; justify-content: flex-start;}
        }
        #brand_lg{
          .banner_box{ margin:0 0 60rem;
            @include screen("mo") { margin-bottom: 40rem;}
          }
          @include screen("pc") { 
            .c-product__list{grid-template-columns: repeat(6, 1fr);}
          }
        }
        .pd_list{ position: relative;
          @include screen("mo") { 
            .m_col2_swiper{ overflow: visible;
              .c-product__list{ display: flex; gap: 0; grid-template-columns: none; height: auto !important;
                .swiper-slide{
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  gap: 20rem 6rem;
                }
                .c-product__item .c-product__info-container { padding: 8rem 0 0;
                  .c-product__info{
                    .c-product__brand-name{ font-size: 11rem;}
                    .c-product__name{ font-size: 10rem; height: 28rem; color: #444;}
                  }
                  .c-product__price-area{ margin-top: 10rem;
                    .c-product__price-item--original::before,
                    .c-product__price-item--member::before{ display: none;}
                    .c-product__price-value--original{ font-size: 11rem; line-height: 1; }
                    .c-product__price-item--member{ line-height: 1; margin-top: 4rem;
                      .c-product__price-value--member, .discount_rate{ font-size: 13rem;}
                    }
                  }  
                  .c-product__badge-container{ margin-top: 8rem; padding-top: 0; border: none;
                    &::before, > span{ padding: 3rem;}
                  }
                }

                .lge__item{
                  .c-product__info .c-product__model-id{ font-size: 11rem; font-weight: 600; color: #444;}
                  .c-product__price-area .c-product__price-item--final {
                    .c-product__price-label--final{ }
                    .c-product__price-value--final{ font-size: 13rem;}
                  }
                }
              }
            } 
          }
          .c-product{ display: none;
            &.on{ display: block;}
            
          }
        }
      }
      &#how_to_apply{
        .process{ background-color: #F3F3F3; border-radius: 8rem; padding: 72rem 155rem;
          @include screen("mo") { padding: 36rem 27rem 42rem;}
          ol{ counter-reset:service; 
            @include screen("pc") { justify-content: center;
              .swiper-slide{ width: 33.3333%; margin: 0 !important;}
            }
            .swiper-slide{
              @include screen("pc") {
                &:nth-child(2)::before{ content: ''; display: block; width: 770rem; border-top: 1px dotted #B5B5B5; position: absolute; left: 50%; top: 11rem; transform: translateX(-50%); z-index: -1;}
              } 
              @include screen("mo") { 
                &.swiper-slide-active{
                  .img_box{
                    .point{ transform: translateY(0); opacity: 1;}
                  }
                }
              }
              .txt_box{ text-align: center; letter-spacing: -.5rem; margin-bottom: 18rem;
                @include screen("mo") { margin-bottom: 20rem;}
                &::before{
                  display: inline-block;
                  counter-increment: service;
                  content: "STEP 0"counter(service);
                  font-size: 12rem; font-weight: 800;
                  padding: 3rem 8rem 2rem; color: #fff; background-color: #B5B5B5; border-radius: 999rem; box-sizing: border-box;
                }
                p{ margin: 12rem 0 4rem; font-size: 16rem;
                  @include screen("mo") { margin: 8rem 0 0;}
                  strong{ color: $ci; font-weight: 700rem;}
                }
                span{ font-size: 14rem; color: #666; white-space: nowrap;
                  @include screen("mo") { font-size: 12rem;}
                }
              }
              .img_box{ position: relative;
                @include screen("pc") { width: 270px; margin: 0 auto;}
                .point{ width: 337rem; filter: drop-shadow(15rem 15rem 30rem rgba($color: #000000, $alpha: .1)); position: absolute; z-index: 1; left: -33rem;
                  @include screen("mo") { width: 297rem; left: 0; transform: translateY(50rem); transition: 1s ease; opacity: 0;}
                  &.point1{ width: 100rem; left: -30rem; top: calc(50% - 30rem);
                    @include screen("mo") { width: 72rem; left: -13rem; top: 215rem;}
                  }
                  &.point2{ top: 155rem;}
                  &.point3{ top: 147rem;}
                }
              }
            }
          }
        }
      }

      &.more_promotion{ padding: 100rem 0;
        @include screen("mo") { padding: 60rem 0;}
        h2{font-weight: 700; font-size: 36rem; text-align: center; color: #000;
          @include screen("mo") { font-size: 26rem;}
        }
        .more_promotion_list{ margin: 32rem 0; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20rem;
          @include screen("mo") { margin: 28rem 0; grid-template-columns: 1fr 1fr; gap: 32rem 12rem;}
          li{
            a{
              .img_box{
                img{ width: 100%;}
              }
              strong{ display: block; margin: 12rem 0 4rem; font-size: 19rem; font-weight: 600; color: #000;
                @include screen("mo") { margin-bottom: 2rem; font-size: 15rem;}
              }
              p{ font-size: 16rem; color: #666;
                @include screen("mo") { font-size: 14rem;}
              }
            }
          }
          @include screen("pc") { 
            &.ty_under_4{ display: flex; justify-content: center;
              li{ width: 330rem;}
            }
          }
        }
      }
    }
  }
    /* COMBINED DISCOUNT */
  &.combined_discount_2603{
    .notice_box{ padding-top: 0; border: none;}
    .lge__item .c-product__price-item--original,
    .lge__item .c-product__price-item--member,
    .lge__item .c-product__price-area .c-product__price-item--final .c-product__price-value--final .c-product__unit,
    .homestyle_item .c-product__price-item--original,
    .homestyle_item .c-product__price-item--member::before{ display: none !important;}

    .c-product__list.ty_row .c-product__item { height: auto; padding: 8rem 0;}
    .c-product__list.ty_row .c-product__item .c-product__info-container .inner{ display: block;}
    .c-product__list.ty_row .c-product__item .c-product__info-container .inner > a .c-product__info{ position: relative;}
      
    .c-product__list .c-product__visual{ border-radius: 8rem; overflow: hidden;}
  }
}