
$mo-width: 390;

@function mo($px) {
  @return calc(#{$px} / #{$mo-width} * 100vw);
}

.brand-story-banner-container {
  word-break: keep-all;
  color: #111;
  font-family: 'Pretendard', sans-serif;
  position: relative;
  background: #ebebeb;
  text-align: left;
  width: 100%;
  min-height: 600px;
  &.mo{ min-height: mo(696);}

  /* PUBLIC */
  &.pc br.mo,
  &.mo br.pc{ display: none;}
  
  a {
    color: inherit;
    text-decoration: none;
  }
  > section{ width: max-content; position: absolute;
    &.reverse a{ flex-direction: row-reverse; text-align: right;}
    a{ display: flex; align-items: center;
      img{ mix-blend-mode: multiply; position: relative; flex-shrink: 0;}
      .txt-box{ position: relative; line-height: 1.4; white-space: nowrap;
        > *{ display: block;}
        .txt1{color: #727780; font-size: 12px; font-weight: 400;}
        .txt2{ font-size: 16px; font-weight: 500; letter-spacing: -0.4px; margin-top: 2px; text-transform: capitalize;
          &.eng{ font-size: 20px; font-weight: 600;}
        }
        .txt3{ font-size: 15px; font-weight: 600; letter-spacing: -0.4px; margin-top: 8px;
          em{ display: inline-block; margin-right: 4px; color: #ff0000;}
        }
      }
    }
  }
  &.mo > section{ position: relative; width: 100%;
    a{
      .txt-box{
        .txt1{ font-size: mo(12);}
        .txt2{ font-size: mo(16); margin-top: mo(2);
          &.eng{ font-size: mo(20);}
        }
        .txt3{ font-size: mo(15); margin-right: mo(4);
          em{ margin-right: mo(4);}
        }
      }
    }
  }
  /* //PUBLIC */

  /* HERMAN */
  &.herman_miller {
    &.pc{
      > section{
        &:nth-child(1){ left: 0; top: 10px;
          a .txt-box{ left: -58px; top: -50px}
        }
        &:nth-child(2){ left: 441px; top: 222px;
          a .txt-box{ right: -108px; top: -20px;}
        }
        &:nth-child(3){ left: 0; top: 342px;
          a .txt-box{ margin-left: 9px; top: 35px;}
        }
      }
    }

    &.mo{ min-height: mo(630);
      > section{
        &:nth-child(1){ left: mo(-81); margin-top: mo(64);
          a{
            img{ width: mo(409);}
            .txt-box{  position: absolute; top: mo(-20); left: mo(249);}
          } 
        }
        &:nth-child(2){ margin: mo(25) 0 mo(15);
          a{
            img{ width: mo(207); right: mo(26);}
            .txt-box{ top: mo(-25); text-align: left; left: mo(14);}
          } 
        }
        &:nth-child(3){ left: mo(-20);
          a{
            img{ width: mo(221);}
            .txt-box{ left: mo(10);}
          } 
        }
      }
    }
  }
  /* //HERMAN */

  /* DE_BEJARRY */
  &.de_bejarry {
    &.pc{
      > section{
        &:nth-child(1){ left: 100px; top: 41px;
          a .txt-box{ left: 50px; top: -40px}
        }
        &:nth-child(2){ left: 26px; top: 358px;
          a .txt-box{ left: 9px; top: 20px;}
        }
        &:nth-child(3){ left: 432px; top: 302px;
          a .txt-box{ left: 94px; top: 0px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(63);
          a{
            img{ width: mo(306); right: mo(27);}
            .txt-box{ text-align: right; position: absolute; left: mo(38); top: mo(72);}
          } 
        }
        &:nth-child(2){ margin: mo(32) 0 mo(6);
          a{
            img{ width: mo(152); margin-left: mo(18);}
            .txt-box{ top: mo(-10); left: mo(32);}
          } 
        }
        &:nth-child(3){
          a{
            img{ width: mo(273); margin-right: mo(-14);}
            .txt-box{ right: mo(-64); top: mo(-5);}
          } 
        }
      }
    }
  }
  /* //DE_BEJARRY */

  /* LEMNOS */
  &.lemnos {
    &.pc{
      > section{
        &:nth-child(1){ left: 0px; top: 0;
          a .txt-box{ left: -30px; top: 0px}
        }
        &:nth-child(2){ left: 453px; top: 229px;
          a .txt-box{ top: -10px;}
        }
        &:nth-child(3){ left: 127px; top: 416px;
          a .txt-box{ margin-right: -10px; top: -5px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(45);
          a{
            img{ width: mo(262); margin-left: mo(-21);}
            .txt-box{ left: mo(-22);}
          } 
        }
        &:nth-child(2){ margin: mo(31) 0;
          a{
            img{ width: mo(201); }
            .txt-box{ top: mo(-10); left: mo(-12);}
          } 
        }
        &:nth-child(3){
          a{ flex-direction: row;
            img{ width: mo(303); margin-left: mo(-57);}
            .txt-box{ left: mo(-30); text-align: left;}
          } 
        }
      }
    }
  }
  /* //LEMNOS */

  /* KNOLL */
  &.knoll {
    &.pc{
      > section{
        &:nth-child(1){ left: -30px; top: -41px;
          a .txt-box{ left: -16px; top: -35px}
        }
        &:nth-child(2){ left: 540px; top: 130px;
          a .txt-box{ right: -40px;}
        }
        &:nth-child(3){ left: 126px; top: 393px;
          a .txt-box{ right: -22px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(21);
          a{
            img{ width: mo(300); margin-left: mo(-31);}
            .txt-box{ left: mo(-35); }
          } 
        }
        &:nth-child(2){ margin: mo(-35) 0 mo(10);
          a{
            img{ width: mo(247); }
            .txt-box{}
          } 
        }
        &:nth-child(3){
          a{ flex-direction: row;
            img{ width: mo(250); margin-left: mo(-48);}
            .txt-box{ left: mo(15); top: mo(-10); text-align: left;}
          } 
        }
      }
    }
  }
  /* //KNOLL */

  /* PAPPELINA */
  &.pappelina {
    &.pc{
      > section{
        &:nth-child(1){ left: 104px; top: 76px;
          a .txt-box{ top: -30px;}
        }
        &:nth-child(2){ left: 491px; top: 236px;
          a .txt-box{ margin-right: 20px;}
        }
        &:nth-child(3){ left: 114px; top: 333px;
          a .txt-box{ margin-left: 25px; top: 30px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(69);
          a{
            img{ width: mo(344); margin-left: mo(-105);}
            .txt-box{ top: mo(-35);}
          } 
        }
        &:nth-child(2){ left: mo(40); margin: mo(44) 0 mo(30);
          a{
            img{ width: mo(140);}
            .txt-box{ top: mo(-10); margin-right: mo(20);}
          } 
        }
        &:nth-child(3){ left: mo(40);
          a{
            img{ width: mo(130);}
            .txt-box{ margin-left: mo(30); top: mo(-5);}
          } 
        }
      }
    }
  }
  /* //PAPPELINA */

  /* VILLEROY */
  &.villeroy {
    &.pc{
      > section{
        &:nth-child(1){ left: 60px; top: 63px;
          a .txt-box{ top: -25px}
        }
        &:nth-child(2){ left: 554px; top: 227px;
          a .txt-box{ margin-left: 9px; top: 20px;}
        }
        &:nth-child(3){ left: 112px; top: 349px;
          a .txt-box{ margin-left: 20px; top: 20px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(70); left: mo(-96);
          a{
            img{ width: mo(383);}
            .txt-box{ text-align: right; left: mo(-30); }
          } 
        }
        &:nth-child(2){ margin: mo(24) 0 mo(21); right: mo(30);
          a{
            img{ width: mo(200);}
            .txt-box{ margin-right: mo(20); text-align: left;}
          } 
        }
        &:nth-child(3){ left: mo(-25);
          a{
            img{ width: mo(180);}
            .txt-box{ margin-left: mo(50); top: mo(-10);}
          } 
        }
      }
    }
  }
  /* //VILLEROY */ 
  
  /* DE SEDE */
  &.de_sede {
    &.pc{
      > section{
        &:nth-child(1){ left: 130px; top: -11px;
          a .txt-box{ top: -40px; margin-left: 8px;}
        }
        &:nth-child(2){ left: 487px; top: 175px;
          a .txt-box{ margin-right: -50px; top: 20px;}
        }
        &:nth-child(3){ left: 58px; top: 309px;
          a .txt-box{ margin-left: -10px; top: 10px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(50); left: mo(-7);
          a{
            img{ width: mo(257);}
            .txt-box{ text-align: left; }
          } 
        }
        &:nth-child(2){ margin: mo(-36) 0 mo(-21); right: mo(-51);
          a{
            img{ width: mo(321);}
            .txt-box{ right: mo(-40); top: mo(15);}
          } 
        }
        &:nth-child(3){ left: mo(-27);
          a{
            img{ width: mo(272);}
            .txt-box{ margin-left: mo(-23); top: mo(-15);}
          } 
        }
      }
    }
  }
  /* //DE SEDE */ 

  /* ZANOTTA */
  &.zanotta {
    img{ mix-blend-mode:normal;}
    &.pc{
      > section{
        &:nth-child(1){ left: 281px; top: 4px;
          a .txt-box{ top: -50px; margin-left: -125px; text-align: right;}
        }
        &:nth-child(2){ left: 61px; top: 314px;
          a .txt-box{ margin-left: 32px; top: -20px;}
        }
        &:nth-child(3){ left: 522px; top: 310px;
          a .txt-box{ top: 10px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(15);
          a{
            img{ width: mo(434); margin-left: mo(-60);}
            .txt-box{ position: absolute; left: mo(172); top: mo(52); text-align: right;}
          } 
        }
        &:nth-child(2){ margin: mo(-8) 0 mo(-45); left: mo(12);
          a{
            img{ width: mo(150);}
            .txt-box{ left: mo(18); top: mo(-20);}
          } 
        }
        &:nth-child(3){ right: mo(0);
          a{
            img{ width: mo(231);}
            .txt-box{ text-align: left; margin-right: mo(-35);}
          } 
        }
      }
    }
  }
  /* //ZANOTTA */ 

  /* FERM_LIVING */
  &.ferm_living {
    img{ mix-blend-mode: darken;}
    &.pc{
      > section{
        &:nth-child(1){ left: -40px; top: 40px;
          a .txt-box{ margin-left: -10px;}
        }
        &:nth-child(2){ left: 483px; top: 320px;
          a .txt-box{  margin-right: 20px;}
        }
        &:nth-child(3){ left: 65px; top: 371px;
          a .txt-box{  margin-left: 20px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(14);
          a{
            img{ width: mo(475); margin-left: mo(-188);}
            .txt-box{ left: mo(-20); top: mo(45);}
          } 
        }
        &:nth-child(2){ margin: mo(28) 0 mo(43); 
          a{
            img{ width: mo(221); margin-right: mo(-19);}
            .txt-box{ left: mo(-18); top: mo(3);}
          } 
        }
        &:nth-child(3){ 
          a{
            img{ width: mo(150); margin-left: mo(30);}
            .txt-box{ text-align: left; margin-left: mo(28);}
          } 
        }
      }
    }
  }
  /* //FERM_LIVING */ 

  /* POLTRONA FRAU */
  &.poltrona_frau {
    &.pc{
      > section{
        &:nth-child(1){ left: 163px; top: 58px;
          a .txt-box{ margin-right: 23px; top: -60px;}
        }
        &:nth-child(2){ left: 107px; top: 276px;
          a .txt-box{ top: -25px; margin-left: 6px;}
        }
        &:nth-child(3){ left: 562px; top:330px;
          a .txt-box{ top: -10px; margin-right: 14px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(98);
          a{
            img{ width: mo(534); margin-right: mo(-199);}
            .txt-box{ position: absolute; left: mo(32); top: mo(32); text-align: left;}
          } 
        }
        &:nth-child(2){ margin: mo(-33) 0 mo(21); 
          a{
            img{ width: mo(120); margin:0 mo(18) 0 mo(44);}
            .txt-box{ left: mo(-10); top: mo(-5);}
          } 
        }
        &:nth-child(3){ 
          a{
            img{ width: mo(181); margin-right: mo(-19);}
            .txt-box{  margin-right: mo(21); top: mo(-7);}
          } 
        }
      }
    }
  }
  /* //POLTRONA FRAU */ 

  /* GINORI */
  &.ginori {
    &.pc{
      > section{
        &:nth-child(1){ left: 216px; top: 46px;
          a .txt-box{ margin-left: 29px;}
        }
        &:nth-child(2){ left: 566px; top: 259px;
          a .txt-box{  margin-right: -10px;}
        }
        &:nth-child(3){ left: 127px; top:323px;
          a .txt-box{ top: 10px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(32);
          a{
            img{ width: mo(300); margin-left: mo(-70);}
            .txt-box{ margin-left: mo(12);}
          } 
        }
        &:nth-child(2){ margin: mo(9) 0 0; 
          a{
            img{ width: mo(190); margin:0 mo(17) 0 mo(47);}
            .txt-box{ left: mo(18); top: mo(-5); text-align: left;}
          } 
        }
        &:nth-child(3){ 
          a{
            img{ width: mo(160); margin: 0 mo(11) 0 mo(31);}
            .txt-box{}
          } 
        }
      }
    }
  }
  /* //GINORI */ 

  /* DONNA WILSON */
  &.donna_wilson {
    &.pc{
      > section{
        &:nth-child(1){ left: 353px; top: 33px;
          a .txt-box{ margin-right: 23px; top: 45px;}
        }
        &:nth-child(2){ left: 89px; top: 282px;
          a .txt-box{  margin-left: 28px; top: 18px;}
        }
        &:nth-child(3){ left: 576px; top:349px;
          a .txt-box{ margin-right: 31px; top: 20px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(27);
          a{
            img{ width: mo(304); margin-right: mo(-87);}
            .txt-box{ margin-right: mo(-5); top: mo(60);}
          } 
        }
        &:nth-child(2){ margin: mo(10) 0 mo(40); 
          a{
            img{ width: mo(160); margin:0 mo(17) 0 mo(28);}
            .txt-box{ top: mo(8);}
          } 
        }
        &:nth-child(3){ 
          a{
            img{ width: mo(112); margin: 0 mo(55) 0 mo(52);}
            .txt-box{}
          } 
        }
      }
    }
  }
  /* //DONNA WILSON */ 

  /* MAGIS */
  &.magis {
    &.pc{
      > section{
        &:nth-child(1){ left: 271px; top: 5px;
          a .txt-box{ margin-right: -40px; top: 70px;}
        }
        &:nth-child(2){ left: 16px; top:263px;
          a .txt-box{}
        }
        &:nth-child(3){ left:486px; top:324px;
          img{ mix-blend-mode: darken;}
          a .txt-box{ top: 15px; margin-right: 20px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ 
          img{ mix-blend-mode: darken;}
          a{
            img{ width: mo(358); margin-right: mo(-96);}
            .txt-box{ margin-right: mo(-40); top: mo(25);}
          } 
        }
        &:nth-child(2){ margin: 0 0 mo(30); 
          a{
            img{ width: mo(200); margin:0 mo(10) 0 mo(-5);}
            .txt-box{}
          } 
        }
        &:nth-child(3){ 
          img{ mix-blend-mode: darken;}
          a{
            img{ width: mo(156); margin: 0 mo(21) 0 mo(17);}
            .txt-box{ top: mo(-10);}
          } 
        }
      }
    }
  }
  /* //MAGIS */ 

  /* NEVA */
  &.neva {
    &.pc{
      > section{
        &:nth-child(1){ left: 270px; top: 15px;
          a .txt-box{ margin-right: 0; top: 35px;}
        }
        &:nth-child(2){ left: 92px; top: 300px;
          a .txt-box{  margin-left: -3px; top: 40px;}
        }
        &:nth-child(3){ left: 556px; top: 357px;
          img{ mix-blend-mode: darken;}
          a .txt-box{ top: 28px;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(14);
          a{
            img{ width: mo(269); margin-right: mo(-9);}
            .txt-box{ margin-right: mo(-15); top: mo(35);}
          } 
        }
        &:nth-child(2){ margin: mo(-15) 0 mo(12); 
          a{
            img{ width: mo(185); margin:0 mo(7) 0 mo(11);}
            .txt-box{ top: mo(7);}
          } 
        }
        &:nth-child(3){ 
          img{ mix-blend-mode: darken;}
          a{
            img{ width: mo(170); margin: 0 mo(17) 0 mo(21);}
            .txt-box{ top: mo(5);}
          } 
        }
      }
    }
  }
  /* //NEVA */ 

  /* PERCEVAL */
  &.perceval {
    &.pc{
      > section{
        img{ mix-blend-mode:darken;}
        &:nth-child(1){ left: 132px; top: 67px;
          a .txt-box{ margin-right: 15px; top:140px; text-align: left;}
        }
        &:nth-child(2){ left: 575px; top: 81px;
          a .txt-box{  margin-right: 23px; top: 60px; text-align: left;}
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(41);
          a{ flex-direction: row;
            img{ width: mo(294); margin-left: mo(41);}
            .txt-box{ position: absolute; left: mo(201); top: mo(143); text-align: left;}
          } 
        }
        &:nth-child(2){ margin-top: mo(6); 
          a{
            img{ width: mo(263); margin:0 mo(-84) 0 mo(14);}
            .txt-box{ text-align: left;}
          } 
        }
      }
    }
  }
  /* //PERCEVAL */ 

  /* TON */
  &.ton {
    &.pc{
      > section{
        &:nth-child(1){ left: 473px; top: 63px;
          a .txt-box{ right: 170px; top: -20px;}
        }
        &:nth-child(2){ left: 147px; top: 4px;
          a .txt-box{ left: -26px; top: -10px}
        }
        &:nth-child(3){ left: 0; top: 262px;
          a .txt-box{ left: -47px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(21);
          a{ flex-direction: row-reverse; left: mo(84); position: relative;
            img{ width: mo(296);}
            .txt-box{ text-align: right; top: mo(-10)}
          } 
        }
        &:nth-child(2){ margin: mo(-35) 0 mo(-55);
          a{
            img{ width: mo(219); margin-left: mo(-19);}
            .txt-box{}
          } 
        }
        &:nth-child(3){
          a{ flex-direction: row-reverse; position: relative;
            img{ width: mo(221); transform: rotateY(180deg);}
            .txt-box{ left: mo(15); text-align: right;}
          } 
        }
      }
    }
  }
  /* //TON */

  /* ALESSI */
  &.alessi {
    &.pc{
      > section{
        &:nth-child(1){ left: 125px; top: 12px;
          a .txt-box{ top: -35px; margin-left: -70px;}
        }
        &:nth-child(2){ left: 485px; top: 102px;
          a .txt-box{ margin-right: 5px; top: 10px;}
        }
        &:nth-child(3){ left: 13px; top: 331px;
          a .txt-box{ margin-left: -120px; top: -40px; }
        }
      }
    }

    &.mo{
      > section{
        &:nth-child(1){ padding-top: mo(0); left: mo(-7);
          a{
            img{ width: mo(216);}
            .txt-box{ text-align: left; }
          } 
        }
        &:nth-child(2){ margin: mo(-30) 0 mo(15); right: mo(-44);
          a{
            img{ width: mo(239);}
            .txt-box{ right: mo(5); top: mo(-5);}
          } 
        }
        &:nth-child(3){ left: mo(-20);
          a{
            img{ width: mo(300);}
            .txt-box{ margin-left: mo(-50); top: mo(-35);}
          } 
        }
      }
    }
  }
  /* //ALESSI */ 

  /* LIGNE ROSET */
  &.ligne_roset {
    &.pc{
      > section{
        &:nth-child(1){ left: 62px; top: -20px; 
          a{
            img{ mix-blend-mode: darken;}
            .txt-box{ top: -20px; margin-left:0;}
          } 
        }
        &:nth-child(2){ left: 226px; top: 182px;
          a .txt-box{ margin-right: 5px; }
        }
        &:nth-child(3){ left: 48px; top: 365px;
          a{
            img{    width: 363px; height: 223px; object-fit: cover;}
            .txt-box{ margin-left: -10px; top: 50px; }
          }
        }
      }
    }

    &.mo{ display: flex; flex-direction: column;
      > section{
        &:nth-child(1){ margin: mo(-10) 0 mo(-80); left: mo(-50); order: 2;
          a{
            img{ width: mo(266); mix-blend-mode: darken;}
            .txt-box{ text-align: left; top: mo(-12); left: mo(-5);}
          } 
        }
        &:nth-child(2){ padding-top: mo(57); right: mo(-125); order: 1; 
          a{
            img{ width: mo(420);}
            .txt-box{ right: mo(-30); top: mo(-30);}
          } 
        }
        &:nth-child(3){ right: mo(-37); order: 3;
          a{ flex-direction: row-reverse;
            img{ width: mo(271);}
            .txt-box{ text-align: right; top: mo(20)}
          } 
        }
      }
    }
  }
  /* //LIGNE ROSET */ 
  
  /* ARTISAN */
  &.artisan {
    &.pc{
      > section{
        &:nth-child(1){ left: 229px; top: -33px; 
          a{
            .txt-box{ top: 5px; margin-right:-35px;}
          } 
        }
        &:nth-child(2){ left: 23px; top: 189px;
          a .txt-box{ margin-left: -30px; top: 20px;}
        }
        &:nth-child(3){ left: 529px; top:204px;
          a{
            img{ mix-blend-mode: darken;}
            .txt-box{ margin-right: -85px; top: 10px; }
          }
        }
      }
    }

    &.mo{ overflow: hidden;
      > section{
        &:nth-child(1){ right: mo(-105);
          a{
            img{ width: mo(420);}
            .txt-box{ right: mo(-35);}
          } 
        }
        &:nth-child(2){ right: mo(0); margin: mo(-30) 0 mo(-50);
          a{
            img{ width: mo(207);}
            .txt-box{ left: mo(-5); top: mo(25);}
          } 
        }
        &:nth-child(3){ right: mo(-37);
          a{ 
            img{ width: mo(299); mix-blend-mode: darken;}
            .txt-box{ right: mo(-55); top: mo(-5)}
          } 
        }
      }
    }
  }
  /* //ARTISAN */ 
  
  /* HUMAN SCALE */
  &.human_scale {
    &.pc{
      > section{
        &:nth-child(1){ left: 0; top: -9px; 
          a{
            .txt-box{ top: -105px; left: -245px; z-index: 2;}
          } 
        }
        &:nth-child(2){ left: 480px; top: 103px;
          a {
            img{ z-index: 1;}
            .txt-box{ right: -50px; top:-50px;}
          }
        }
        &:nth-child(3){ left: 530px; top:337px;
          a{ display: block; text-align: right;
            img{ z-index: 2; mix-blend-mode:darken;}
            .txt-box{ margin-bottom: 13px; }
          }
        }
      }
    }

    &.mo{ overflow: hidden;
      > section{
        &:nth-child(1){ 
          a{
            img{ width: mo(290); margin-top: mo(-25);}
            .txt-box{ left: mo(-85); top: mo(-20);}
          } 
        }
        &:nth-child(2){ margin: mo(0) 0 mo(40); 
          a{
            img{ width: mo(257);}
            .txt-box{ right: mo(-30); top: mo(-30);}
          } 
        }
        &:nth-child(3){ width: mo(275); margin: 0 auto; 
          a{ display: block; 
            img{ width: 100%; mix-blend-mode:darken;}
            .txt-box{ width: max-content; display: block; margin:0 0 8px auto; }
          } 
        }
      }
    }
  }
  /* //HUMAN SCALE */ 
  
  /* BOSSE */
  &.bosse {
    &.pc{
      > section{
        &:nth-child(1){ left: 23px; top: 172px; 
          a{
            .txt-box{ top: -40px; left: 10px; z-index: 1;}
          } 
        }
        &:nth-child(2){ left: 296px; top: 58px;
          a {
            .txt-box{ left: -10px; top: -10px;}
          }
        }
        &:nth-child(3){ left: 453px; top:296px;
          a{
            .txt-box{ margin-right: -65px; top: 55px; }
          }
        }
      }
    }

    &.mo{ overflow: hidden;
      > section{
        &:nth-child(1){ right: mo(15); top: mo(36);
          a{ flex-direction: row-reverse; text-align: right;
            img{ width: mo(282);}
            .txt-box{ right: mo(-2);}
          } 
        }
        &:nth-child(2){ left: mo(-76); margin-top: mo(30); 
          a{
            img{ width: mo(408);}
            .txt-box{ left: mo(-125); top: mo(60);}
          } 
        }
        &:nth-child(3){ right: mo(-39);
          a{
            img{ width: mo(350); }
            .txt-box{ left: mo(55); top: mo(7);}
          } 
        }
      }
    }
  }
  /* //BOSSE */ 

  /* ARTEMIDE */
  &.artemide {
    &.pc{
      > section{
        &:nth-child(1){ left: 475px; top: 40px; 
          a{
            .txt-box{ top: -20px; margin-right:32px;}
          } 
        }
        &:nth-child(2){ left: 60px; top: 12px;
          a .txt-box{ margin-left: -213px; top: 35px;}
        }
        &:nth-child(3){ left: 478px; top:223px;
          a{
            .txt-box{ margin-right: -55px; top: 100px; }
          }
        }
      }
    }

    &.mo{ overflow: hidden; display: flex; flex-direction: column;
      > section{
        &:nth-child(2){ order: 1; left: mo(18); 
          a{
            img{ width: mo(248);}
            .txt-box{ left: mo(-97); top: mo(25);}
          } 
        }
        &:nth-child(1){ order: 2; margin-top: mo(-20); right: mo(38);
          a{
            img{ width: mo(160);}
            .txt-box{ text-align: left; right: mo(70); top: mo(10);}
          } 
        }
        &:nth-child(3){ order: 3; 
          a{ flex-direction: row;
            img{ width: mo(250);}
            .txt-box{ top: mo(-10)}
          } 
        }
      }
    }
  }
  /* //ARTEMIDE */ 

  /* PYRENEX */
  &.pyrenex {
    &.pc{
      .txt-box{ position: absolute;}
      > section{
        &:nth-child(1){ left: 438px; top: -5px; 
          a{
            .txt-box{left: 33px; bottom: 31px;}
          } 
        }
        &:nth-child(2){ left: -9px; top: 105px;
          a .txt-box{ left: 240px; bottom: 14px;}
        }
        &:nth-child(3){ left: 350px; top:246px;
          a{
            .txt-box{ left: 35px; bottom: 70px; }
          }
        }
      }
    }

    &.mo{ overflow: hidden; display: flex; flex-direction: column;
      > section{
        &:nth-child(1){ margin-top: mo(-32); left: mo(25);
          a{ display: block;
            img{ width: mo(497);}
            .txt-box{ position: absolute; left: 31px; bottom: 32px;}
          } 
        }
        &:nth-child(2){ left: mo(-48); margin: mo(-40) 0; 
          a{
            img{ width: mo(407);}
            .txt-box{ left: mo(-80); top: mo(-10);}
          } 
        }
        &:nth-child(3){ right: mo(-70);
          a{ 
            img{ width: mo(366);}
            .txt-box{ right: mo(-40); top: mo(-10);}
          } 
        }
      }
    }
  }
  /* //PYRENEX */ 

  /* TEFAL */
  &.tefal {
    &.pc{
      > section{
        &:nth-child(1){ left: 48px; top: 68px;
          a .txt-box{ left: -50px; top: 70px}
        }
        &:nth-child(2){ left: 306px; top: 127px;
          a .txt-box{ right: -150px; top: -160px;}
        }
        &:nth-child(3){ left: 98px; top:333px;
          a .txt-box{ top: 40px; }
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(-25) 0 mo(40); order: 2; left: mo(17);
          a{
            img{ width: mo(212);}
            .txt-box{ left: mo(-35); top: mo(45);}
          } 
        }
        &:nth-child(2){ padding-top: mo(45);left: mo(30); order: 1;
          a{ flex-direction: column-reverse; align-items: flex-start;
            img{ width: mo(325); right: mo(-30); margin-top: mo(-37);}
            .txt-box{ text-align: right; }
          } 
        }
        &:nth-child(3){ order: 3;right: mo(27);
          a{ flex-direction: row-reverse;
            img{ width: mo(192);}
            .txt-box{ top: mo(-15); left: mo(-10); text-align: right;}
          } 
        }
      }
    }
  }
  /* //TEFAL */
 
  /* GINORI */
  &.ginori2 {
    &.pc{
      > section{
        &:nth-child(1){ left: 48px; top: 48px;
          a .txt-box{ left: -30px; top: -40px}
        }
        &:nth-child(2){ left: 413px; top: 182px;
          a .txt-box{ top: -140px; margin-right: -80px;}
        }
        &:nth-child(3){ left: 119px; top:333px;
          a .txt-box{ top:  0px; }
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(-30) 0 mo(-10); order: 2; left: mo(17);
          a{
            img{ width: mo(205);}
            .txt-box{ left: mo(-20); top: mo(-30);}
          } 
        }
        &:nth-child(2){ padding-top: mo(56);left: mo(40); order: 1;
          a{ flex-direction: column-reverse; align-items: flex-start;
            img{ width: mo(321); right: mo(-30); margin-top: mo(-45);}
            .txt-box{ text-align: right; }
          } 
        }
        &:nth-child(3){ order: 3;right: mo(35);
          a{ flex-direction: row-reverse;
            img{ width: mo(172);}
            .txt-box{ top: mo(-5); left: mo(-20); text-align: left;}
          } 
        }
      }
    }
  }
  /* //GINORI */
 
  /* DULTON */
  &.dulton {
    &.pc{
      > section{
        &:nth-child(1){ left: 78px; top: 39px;
          a .txt-box{ left: -10px; top: -40px}
        }
        &:nth-child(2){ left: 455px; top: 56px;
          a .txt-box{ top: -120px; margin-right: -40px;}
        }
        &:nth-child(3){ left: 117px; top:307px;
          a .txt-box{ top:  25px; }
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(-30) 0 0; order: 2; left: mo(47);
          a{
            img{ width: mo(147);}
            .txt-box{ left: mo(31); top: mo(-20);}
          } 
        }
        &:nth-child(2){ order: 1;
          a{align-items: flex-start;
            img{ width: mo(277);}
            .txt-box{ text-align: right; top: mo(46); margin-right: mo(-20); }
          } 
        }
        &:nth-child(3){ order: 3;right: mo(40);
          a{ flex-direction: row-reverse;
            img{ width: mo(143);}
            .txt-box{ top: mo(-10);  text-align: left;}
          } 
        }
      }
    }
  }
  /* //DULTON */
 
  /* ALTENBACH */
  &.altenbach {
    &.pc{
      > section{
        &:nth-child(1){ left: 55px; top: 13px;
          a .txt-box{ left: -10px; top: -50px}
        }
        &:nth-child(2){ left: 345px; top: 178px;
          a .txt-box{ top: -115px; left: 140px;}
        }
        &:nth-child(3){ left: 58px; top:297px;
          a .txt-box{ top:  20px; left: -30px;}
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(-30) 0 mo(-20); order: 2;
          a{
            img{ width: mo(253);}
            .txt-box{ left: mo(0); top: mo(-30);}
          } 
        }
        &:nth-child(2){ order: 1; left: mo(32); padding-top: mo(30);
          a{flex-direction: column-reverse; align-items: flex-start;
            img{ width: mo(363);}
            .txt-box{ text-align: right; top: mo(20); left: mo(30);}
          } 
        }
        &:nth-child(3){ order: 3;right: mo(33);
          a{ flex-direction: row-reverse;
            img{ width: mo(227);}
            .txt-box{ top: mo(-30);  text-align: left;}
          } 
        }
      }
    }
  }
  /* //ALTENBACH */

 
  /* AUX */
  &.aux {
    &.pc{
      > section{
        &:nth-child(1){ left: 98px; top: 95px;
          a .txt-box{ left: -30px; top: -80px}
        }
        &:nth-child(2){ left: 534px; top: 116px;
          a .txt-box{ top: -116px; margin-right: -98px;}
        }
        &:nth-child(3){ left: 170px; top:326px;
          a .txt-box{ top:  25px; right: -8px; }
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(36) 0 mo(46); order: 2; left: mo(40);
          a{
            img{ width: mo(141);}
            .txt-box{ right: mo(-25);}
          } 
        }
        &:nth-child(2){ padding-top: mo(11);left: mo(30); order: 1;
          a{ align-items: flex-start;
            img{ width: mo(257); right: mo(60);}
            .txt-box{ text-align: right; top: mo(30);}
          } 
        }
        &:nth-child(3){ order: 3;right: mo(42);
          a{ flex-direction: row-reverse;
            img{ width: mo(161);}
            .txt-box{ top: mo(-5); left: mo(-46); text-align: right;}
          } 
        }
      }
    }
  }
  /* //AUX */
 
  /* MUJAGI */
  &.mujagi {
    &.pc{
      > section{
        &:nth-child(1){ left: 78px; top: 76px;
          a .txt-box{ left: 02; top: -60px}
        }
        &:nth-child(2){ left: 330px; top: 106px;
          a .txt-box{     top: -162px; right: -163px;}
        }
        &:nth-child(3){ left: 60px; top:334px;
          a .txt-box{}
        }
      }
    }

    &.mo{display: flex; flex-direction: column;
      > section{ 
        &:nth-child(1){ margin: mo(-10) 0 mo(32); order: 2; left: mo(44);
          a{
            img{ width: mo(125);}
            .txt-box{ right: mo(-18);}
          } 
        }
        &:nth-child(2){ padding-top: mo(18);left: mo(13); order: 1;
          a{ display: block;
            img{ width: mo(427); }
            .txt-box{ text-align: right; position: absolute; left: mo(20); top: mo(50);}
          } 
        }
        &:nth-child(3){ order: 3;right: mo(13);
          a{ flex-direction: row-reverse;
            img{ width: mo(216);}
            .txt-box{ top: mo(-10);text-align: right;}
          } 
        }
      }
    }
  }
  /* //MUJAGI */
 
  /* LLADRO */
  &.lladro {
    .txt-box .txt2{ text-transform: none;}
    &.pc{
      > section{
        a{ align-items: flex-start;}
        img{ display: block;}
        &:nth-child(1){ left: 90px; top: 57px;
          a{
            img{ width: 155px;}
            .txt-box{ margin-left: 17px; top: 41px;}
          }
        }
        &:nth-child(2){ left: 526px; top: 117px;
          a{
            img{ width: 350px;}
            .txt-box{ width: 126px; right: 444px; top: 43px; text-align: right;}
          }
        }
        &:nth-child(3){ left: 128px; top: 318px;
          a{
            img{ width: 206px;}
            .txt-box{ margin-left: 15px; top: 98px;}
          }
        }
      }
    }

    &.mo{ display: flex; flex-direction: column; min-height: mo(750);
      > section{
        a{ height: 100%; align-items: flex-start;}
        img{ display: block;}
        &:nth-child(1){ order: 2; height: mo(169);
          a{
            img{ width: mo(119); margin-left: mo(33);}
            .txt-box{ margin-left: mo(22); top: mo(66);}
          }
        }
        &:nth-child(2){ order: 1; height: mo(351);
          a{ flex-direction: row-reverse;
            img{ width: mo(247); margin: mo(36) mo(15) 0 0;}
            .txt-box{ width: mo(126); left: mo(12); top: mo(55); text-align: right;}
          }
        }
        &:nth-child(3){ order: 3; height: mo(230);
          a{ flex-direction: row-reverse;
            img{ width: mo(160); margin: mo(15) mo(56) 0 0;}
            .txt-box{ width: mo(111); left: mo(-29); top: mo(75); text-align: right;}
          }
        }
      }
    }
  }
  /* //LLADRO */

  /* FLOS */
  &.flos {
    .txt-box .txt2{ text-transform: none;}
    &.pc{
      > section{
        a{ align-items: flex-start;}
        img{ display: block;}
        &:nth-child(1){ left: 72px; top: 53px;
          a{
            img{ width: 184px;}
            .txt-box{ margin-left: 18px; top: 45px;}
          }
        }
        &:nth-child(2){ left: 507px; top: 39px;
          a{
            img{ width: 368px;}
            .txt-box{ width: 141px; right: 458px; top: 121px; text-align: right;}
          }
        }
        &:nth-child(3){ left: 144px; top: 284px;
          a{
            img{ width: 264px;}
            .txt-box{ margin-left: 14px; top: 132px;}
          }
        }
      }
    }

    &.mo{ display: flex; flex-direction: column; min-height: mo(750);
      > section{
        a{ height: 100%; align-items: flex-start;}
        img{ display: block;}
        &:nth-child(1){ order: 2; height: mo(169);
          a{
            img{ width: mo(126); margin: mo(19) 0 0 mo(44);}
            .txt-box{ margin-left: mo(19); top: mo(66);}
          }
        }
        &:nth-child(2){ order: 1; height: mo(351);
          a{ flex-direction: row-reverse;
            img{ width: mo(262); margin: mo(2) mo(27) 0 0;}
            .txt-box{ width: mo(126); left: mo(39); top: mo(55); text-align: right;}
          }
        }
        &:nth-child(3){ order: 3; height: mo(230);
          a{ flex-direction: row-reverse;
            img{ width: mo(158); margin: mo(25) mo(49) 0 0;}
            .txt-box{ width: mo(111); left: mo(-38); top: mo(75); text-align: right;}
          }
        }
      }
    }
  }
  /* //FLOS */ 
 

}
