// SCSS의 'VAR, MIXIN, FUNCTION을 공통으로 사용하기 위한 목적

@mixin font-size($size) {
  font-size: clamp(10px, $size, 9999rem);
}

// Layout inner
$layout_inner: 1380rem;
$layout_pd: 20rem;

// Transition
$expo: cubic-bezier(0.16, 1, 0.3, 1);
$inout: cubic-bezier(0.87, 0, 0.13, 1);
$outback: cubic-bezier(0.34, 1.56, 0.64, 1);

// Primary color
$ci: #F14333;
$bg: #F5F5F5;
$gray: #444;
$gray2: #DEE1E5;
$gray3: #727780;

/* Responsive */
@mixin screen($size) {
  @if $size == "pc" {
    @media (min-width: 781px) {
      @content;
    }
  } @else if $size == "mo" {
    @media (max-width: 780px) {
      @content;
    }
  } @else if $size == "inner" {
    @media (max-width: 1420px) {
      @content;
    }
  }
}

/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
@mixin m_full_layout($pd: null) {
  margin-left: -$layout_pd !important;
  width: calc(100% + #{$layout_pd * 2}) !important;

  @if $pd == pd {
    padding-left: $layout_pd !important;
    padding-right: $layout_pd !important;
  }
}

/* Ellipsis */
@mixin ellip($col: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($col == 1) {
    white-space: nowrap;
  } @else {
    white-space: unset;
    display: -webkit-box;
    /* autoprefixer: off */
    box-orient: vertical;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: $col;
  }
}
