@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
.rareraw_container {
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
}
.PcPdpExhibitionDetailView_bannerArea__btHpF .combined_discount img {
  max-width: unset;
}

.rareraw_container abbr, .rareraw_container acronym, .rareraw_container address, .rareraw_container applet, .rareraw_container article, .rareraw_container aside, .rareraw_container audio, .rareraw_container big, .rareraw_container blockquote, .rareraw_container body, .rareraw_container canvas, .rareraw_container caption, .rareraw_container center, .rareraw_container cite, .rareraw_container code, .rareraw_container dd, .rareraw_container details, .rareraw_container dfn, .rareraw_container div, .rareraw_container dl, .rareraw_container dt, .rareraw_container embed, .rareraw_container fieldset, .rareraw_container figcaption, .rareraw_container figure, .rareraw_container footer, .rareraw_container form, .rareraw_container h1, .rareraw_container h2, .rareraw_container h3, .rareraw_container h4, .rareraw_container h5, .rareraw_container h6, .rareraw_container header, .rareraw_container hgroup, .rareraw_container html, .rareraw_container iframe, .rareraw_container img, .rareraw_container ins, .rareraw_container kbd, .rareraw_container label, .rareraw_container legend, .rareraw_container li, .rareraw_container mark, .rareraw_container menu, .rareraw_container nav, .rareraw_container object, .rareraw_container ol, .rareraw_container output, .rareraw_container p, .rareraw_container pre, .rareraw_container q, .rareraw_container ruby, .rareraw_container samp, .rareraw_container section, .rareraw_container small, .rareraw_container strike, .rareraw_container summary, .rareraw_container table, .rareraw_container tbody, .rareraw_container td, .rareraw_container textarea, .rareraw_container tfoot, .rareraw_container th, .rareraw_container thead, .rareraw_container time, .rareraw_container tr, .rareraw_container tt, .rareraw_container ul, .rareraw_container var, .rareraw_container video {
  color: inherit;
  line-height: 1.4;
  font-size: inherit;
}
.rareraw_container {
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.rareraw_container .inner {
  width: 100%;
  position: relative;
}
.rareraw_container .f_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rareraw_container .p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rareraw_container .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rareraw_container .flex {
  display: flex;
  justify-content: space-between;
}
.rareraw_container .flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rareraw_container .flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.rareraw_container .flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 781px) {
  .rareraw_container .mo {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .rareraw_container .pc {
    display: none !important;
  }
}
.rareraw_container .pd_btm {
  padding-bottom: 60rem;
}
.rareraw_container {
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.rareraw_container section {
  position: relative;
  overflow: hidden;
  padding: 60rem 20rem 0;
}
.rareraw_container section#benefit {
  background-color: #f3eee9;
  font-size: clamp(8px, 10rem, 9999rem);
}
@media (max-width: 780px) {
  .rareraw_container section#benefit {
    font-size: clamp(8px, 16rem, 9999rem);
  }
}
.rareraw_container section#benefit h2 {
  font-weight: 700;
  font-size: clamp(8px, 17rem, 9999rem);
  text-align: center;
}
@media (max-width: 780px) {
  .rareraw_container section#benefit h2 {
    font-size: clamp(8px, 26rem, 9999rem);
  }
}
.rareraw_container section#benefit ol {
  border-top: 2rem solid #111;
  margin-top: 28rem;
  counter-reset: benefit;
}
.rareraw_container section#benefit ol li {
  padding: 24rem 0;
}
.rareraw_container section#benefit ol li::before {
  counter-increment: benefit;
  content: "BENEFIT 0" counter(benefit);
  padding: 3rem 10rem;
  background-color: #BB9D77;
  border-radius: 999rem;
  color: #fff;
  font-weight: 500;
  font-size: clamp(8px, 8rem, 9999rem);
  display: inline-block;
}
@media (max-width: 780px) {
  .rareraw_container section#benefit ol li::before {
    font-size: clamp(8px, 10rem, 9999rem);
  }
}
.rareraw_container section#benefit ol li + li {
  border-top: 1px solid #ddd;
}
.rareraw_container section#benefit ol li:last-child {
  padding-bottom: 0;
}
.rareraw_container section#benefit ol li h3 {
  font-size: clamp(8px, 12rem, 9999rem);
  font-weight: 600;
  margin-top: 4rem;
}
@media (max-width: 780px) {
  .rareraw_container section#benefit ol li h3 {
    font-size: clamp(8px, 18rem, 9999rem);
  }
}
.rareraw_container section#benefit ol li h3 b {
  color: #AA6E20;
  font-weight: inherit;
}
.rareraw_container section#benefit ol li p {
  margin-top: 4rem;
}
@media (max-width: 780px) {
  .rareraw_container section#benefit ol li p {
    margin-top: 8rem;
  }
}
.rareraw_container section#benefit.home_bar {
  background-color: #EAEBE5;
}
.rareraw_container section#benefit.home_bar ol li::before {
  background-color: #ADB298;
}
.rareraw_container section#benefit.home_bar ol li h3 b {
  color: #67781E;
}
.rareraw_container section#product_option {
  text-align: center;
}
.rareraw_container section#product_option h3 {
  font-size: clamp(8px, 20rem, 9999rem);
  width: 100%;
  padding-bottom: 16rem;
  border-bottom: 1px solid #000;
  margin-bottom: 20rem;
}
.rareraw_container section#product_option h3 strong {
  font-weight: 600;
}
.rareraw_container section#product_option ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem 0;
}
.rareraw_container section#product_option ul.ty2 {
  display: flex;
  gap: 10rem;
}
.rareraw_container section#product_option ul.ty2 li img {
  width: 100%;
}
.rareraw_container section#product_option ul.ty3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rareraw_container section#product_option ul.ty3 li {
  width: 50%;
}
.rareraw_container section#product_option ul.txt_ty2 li p {
  font-size: clamp(8px, 16rem, 9999rem);
  font-weight: 600;
}
.rareraw_container section#product_option ul li img {
  width: 140rem;
  margin: 0 auto 4rem;
}
.rareraw_container section#product_option ul li span {
  font-size: clamp(8px, 12rem, 9999rem);
  color: #666;
}
.rareraw_container section#product_features ol {
  counter-reset: feature;
}
.rareraw_container section#product_features ol li + li {
  margin-top: 40rem;
}
.rareraw_container section#product_features ol li .txt_box {
  margin-bottom: 16rem;
}
.rareraw_container section#product_features ol li .txt_box span {
  font-size: clamp(8px, 12rem, 9999rem);
  color: #444;
}
.rareraw_container section#product_features ol li .txt_box span::before {
  counter-increment: feature;
  content: "0" counter(feature) ". ";
}
.rareraw_container section#product_features ol li .txt_box h2 {
  font-weight: 600;
  margin-top: 4rem;
}
.rareraw_container section#product_features ol li .txt_box p {
  font-size: clamp(8px, 12rem, 9999rem);
  color: #8f8f8f;
  margin-top: 2rem;
}
.rareraw_container section#ending {
  padding-left: 0;
  padding-right: 0;
}
.rareraw_container section#ending .ending_slot {
  text-align: center;
  position: relative;
}
.rareraw_container section#ending .ending_slot .txt_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40rem 20rem 28rem;
}
.rareraw_container section#ending .ending_slot .txt_box h2 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(8px, 22rem, 9999rem);
}
.rareraw_container section#ending .ending_slot .txt_box a {
  width: 100%;
  background-color: #111;
  border-radius: 8rem;
  color: #fff;
  height: 68px;
  line-height: 68px;
  font-size: 16px;
  border-radius: 8px;
}
@media (max-width: 780px) {
  .rareraw_container section#ending .ending_slot .txt_box a {
    width: 100%;
    height: 48rem;
    line-height: 48rem;
    font-size: 15rem;
    border-radius: 8rem;
  }
}
.rareraw_container section#ending .ending_slot.ty_white .txt_box h2 {
  color: #fff;
}
.rareraw_container section#ending .ending_slot.ty_white .txt_box a {
  color: #444;
  background-color: #fff;
}
.rareraw_container section#ending .swiper {
  padding: 0 20rem;
  overflow: visible;
}
.rareraw_container section#ending .swiper .scr_bar {
  width: 80rem;
  height: 3rem;
  margin: 19rem auto 0;
  background-color: #ddd;
}
.rareraw_container section#ending .swiper .scr_bar .swiper-scrollbar-drag {
  border-radius: 0;
  background-color: #000;
}