@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
@import url("main.css");
html {
  height: 100%;
  font-size: 1.2px;
}
@media (max-width: 780px) {
  html {
    font-size: 0.25641vw;
  }
}

main {
  background-color: #F9F9F9;
}

.partner_promotion {
  background-color: #ffffff;
  color: #111;
  font-family: "Pretendard", sans-serif;
  font-size: clamp(10px, 13rem, 9999rem);
  font-weight: 400;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: keep-all;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  letter-spacing: -0.2rem;
  max-width: 780px;
  margin: 0 auto;
}
.partner_promotion ::-webkit-scrollbar {
  display: none;
}
.partner_promotion ::placeholder {
  color: #d6d6d6;
}
.partner_promotion * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  outline: none !important;
}
.partner_promotion h1,
.partner_promotion h2,
.partner_promotion h3,
.partner_promotion h4,
.partner_promotion h5,
.partner_promotion h6 {
  font-weight: inherit;
  font-size: inherit;
}
.partner_promotion table {
  border-collapse: collapse;
  border-spacing: 0;
}
.partner_promotion ol,
.partner_promotion ul {
  list-style: none;
}
.partner_promotion a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.partner_promotion button,
.partner_promotion input,
.partner_promotion select,
.partner_promotion textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.partner_promotion input[type=checkbox], .partner_promotion input[type=radio] {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.partner_promotion label {
  cursor: pointer;
}
.partner_promotion img,
.partner_promotion video,
.partner_promotion svg {
  display: block;
  border: none;
  width: 100%;
  max-width: unset;
}
.partner_promotion option {
  color: inherit;
}
.partner_promotion section {
  position: relative;
}
.partner_promotion picture {
  display: block;
  width: 100%;
}
.partner_promotion span {
  display: block;
}