@import "var";

.brand_service_info{
  
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  @at-root .PcPdpExhibitionDetailView_bannerArea__btHpF .brand_service_info img{ max-width: unset;}
  abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, samp, section, small, strike, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, ul, var, video{ color: inherit;}
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  // LAYOUT INNER
  .layout_inner {
    position: relative;
    max-width: 100%;
    width: calc($layout_inner + $layout_pd*2) !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $layout_pd !important;
    padding-right: $layout_pd !important;
  }
  .inner{ width: 100%; position: relative;}
  .f_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .flex_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* WAVE */
  .wave{ width: 100%; display: flex; overflow: hidden; 
    > *{ flex-shrink: 0; animation: wave 100s linear infinite;}
    @keyframes wave {
      0%{ transform: translateX(0);}
      100%{ transform: translateX(-100%);}
    }

    &.reverse > *{ animation-direction: reverse;}
  }


  @include screen("pc") {
    .mo{ display: none !important;}
  }
  @include screen("mo") {
    .pc{ display: none !important;}
  }
  
  /* SWIPER */
  .nav{
    span{ display: flex; align-items: center; justify-content: center; width: 48rem; height: 48rem; border-radius: 50%; background: #fff; z-index: 1; cursor: pointer;
      &::after{ content: ''; width: 20rem; height: 20rem; background: url(../images/arr.svg)no-repeat center center / contain; transition: .3s ease;} 
      &.nxt::after{ transform: rotate(180deg);}
      &:hover{
        &::after{ transform: translateX(-3rem);}
        &.nxt::after{ transform: rotate(180deg) translateX(-3rem);}
      }
    }
  }
  .pagi{ bottom: 0; margin-top: 25rem; text-align: center; font-size: 0;
    span{display: inline-block; width: 6rem; height: 6rem; border-radius: 999rem;  margin: 0 3rem !important; transition: .3s ease; opacity: 0; transform: translateY(5rem); background-color: #ddd;
      &.swiper-pagination-bullet-active{ width: 20rem; background-color: #000;}
    }
    &.aos-animate{
      span{ opacity: 1; transform: translateY(0);
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            transition: .5s ease, .5s ease #{($i - 1) * 0.1}s opacity, .5s ease #{($i - 1) * 0.1}s transform;
          }
        }
      }
    }
  }
  /* //SWIPER */
  
  .lao{ font-family: 'Lao MN';}
  .bsi_dsc{ font-family: 'Lao MN', sans-serif; color: $ci; letter-spacing: -.5rem; margin-bottom: 4rem;
    @include screen("mo") { font-size: 14rem; margin-bottom: 2rem;}
  }
  .bsi_tit{ font-weight: 700; font-size: 30rem; letter-spacing: -1rem;
    @include screen("mo") { font-size: 24rem;}
  }
  .bsi_info{ letter-spacing: -.5rem; margin-top: 8rem; color: $gray;
    @include screen("mo") { margin-bottom: 6rem;
      br:not(.mo, .both){ display: none;}
    }
  }
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  
  section{ position: relative; overflow: hidden;
    &.origin_story{ background-color: $bg; padding: 100rem 0 80rem;
      @include screen("mo") { padding: 60rem 0 30rem;}
      ul{ 
        li{ display: flex; gap: 20rem;
          @include screen("mo") { display: block;}
          &:nth-child(odd){flex-direction: row-reverse;}
          @include screen("pc") { 
            &:nth-child(even) .txt_box{padding-left: 80rem;}
          }
          + li{ margin-top: 50rem;
            @include screen("mo") { margin-top: 30rem;}
          }
          > div{ width: 100%;}
          .img_box{ border-radius: 8rem; overflow: hidden;
            @include screen("mo") { margin-bottom: 20rem;}
          }
          .txt_box{ display: flex; justify-content: center; flex-direction: column;
            @include screen("mo") { display: block;}
            >*{ display: block; transform: translateY(50rem); opacity: 0; transition: 1s ease;}
            &.aos-animate{
              >*{ transform: translateY(0); opacity: 1;}
              .bsi_tit{ transition-duration: 1.2s;}
              .bsi_info{ transition-duration: 1.4s;}
            }
          }
        }
      }
    }
    
    &.brand{
      .bg{ position: absolute; left: 0; top: 0;}
      .txt_box{ padding: 120rem 0 82rem; position: relative; text-align: center;
        @include screen("mo") { padding: 82rem $layout_pd 30rem;}
      }
      .products_box{ padding-bottom: 150rem;
        @include screen("mo") { padding-bottom: 87rem;}
        img{ width: 4186rem; 
          @include screen("mo") { width: 2307rem;}
        }
      }
    }

    &.space{
      .txt_box{  text-align: center;
        @include screen("mo") { padding: 0 $layout_pd;}
      }
      .brand_box{ padding: 134rem 0 151rem;
        @include screen("mo") { padding: 70rem 0 100rem;}
        img{ width: 2647rem;
          @include screen("mo") { width: 1600rem;}
        }
      }
    }

    &.home_styling{ padding: 100rem 0; background-color: $bg;
      @include screen("mo") { padding: 60rem 0;}
      .tit_box{ text-align: center; margin-bottom: 32rem;
        @include screen("mo") { margin-bottom: 28rem;}
      }
      .swiper{ color: #fff;
        @include screen("mo") { overflow: visible;}
        .swiper-slide{ overflow: hidden; border-radius: 8rem;
          &::after{ content: ''; width: 100%; height: 134rem; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6)); z-index: 1;}
          &.swiper-slide-active{ 
            img{ transform: scale(1);}
            .txt_box{
              >*{ transform: translateY(0); opacity: 1;}
              p{ transition-duration: 1.2s;}
            }
          }
          img{ transform: scale(1.05); transition: 1s ease;}
          .txt_box{position: absolute; left: 0; bottom: 16rem; text-align: center; width: 100%; z-index: 2;
            @include screen("mo") { bottom: 30rem;}
            >*{ transform: translateY(50rem); opacity: 0; transition: 1s ease;}
            span{ display: block; font-family: 'Lao MN', sans-serif; font-size: 24rem; line-height: 1.08; text-transform: uppercase; letter-spacing: -1rem;
            }
            p{ margin-top: 8rem; min-height: 45rem; font-weight: 500; letter-spacing: -.8rem;
              @include screen("mo") { margin-top: 2rem; min-height: 32rem; letter-spacing: -.4rem;
                br{ display: block;}
              }
            }
          }
        }
        .nav{
          span{position: absolute; top: 50%; transform: translateY(-50%);
            &.prv{left: 32rem; }
            &.nxt{ left: auto; right: 32rem;}
          }
        }
      }
    }

    &.service{ padding: 100rem 0;
      @include screen("mo") { padding:60rem 0;}
      .txt_box{ text-align: center; margin-bottom: 32rem;
        ol{ position: relative; counter-reset:service; 
          li{ position: absolute; left: 0; top: 0; width: 100%;
            &:first-child{ position: relative;}
            &::before{
              display: inline-block;
              counter-increment: service;
              content: "0"counter(service);
              font-size: 12rem; font-weight: 900;
              padding: 4rem; width: 38rem; color: #fff; background-color: $ci; border-radius: 999rem; box-sizing: border-box; margin-bottom: 8rem;
              
            }
            @include screen("mo") {
              .bsi_info br{ display: block;}
            }
            &::before, >*{ transform: translateY(50rem); opacity: 0; transition: .5s ease; touch-action: none;pointer-events: none;}
            &.on{ 
              &::before, >*{ touch-action: auto; pointer-events: auto; opacity: 1; transform: translateY(0);}
              &::before{ transition-duration: 1.2s;}
              .bsi_tit{ transition-duration: 1.4s;}
              .bsi_info{ transition-duration: 1.6s;}
            }
          }
        }
      }
      .swiper_box{ position: relative;
        @include screen("mo") {   overflow: hidden;
          &::after{ content: ''; width: 100%; height: 150rem; background: linear-gradient(to bottom, transparent, #fff 70%); z-index: 10; position: absolute; left: 0; bottom: 0; touch-action: none; pointer-events: none;}
        }
        .swiper{ 
          &.main_slide{ width: 320rem; margin: 0 auto; border-radius: 20px; border: 6px solid #000; background: #FFF; box-shadow: 0 8px 120px 0 rgba(0, 0, 0, 0.12), 0 3.385px 10.154px 0 rgba(0, 0, 0, 0.08), 0 13.538px 30.462px 0 rgba(49, 47, 45, 0.20); overflow: hidden;
            @include screen("mo") { width: 260rem; box-shadow: none;
              .swiper-slide{ height: 410rem;}
            }
          }
          &.sub_slide{ width: 1680rem; opacity: 0; transform: translate(-50%, -30%);
            @include screen("mo") { width: 1300rem; top: 63%;}
            &.aos-animate{ transform: translate(-50%, -50%); opacity: .2;}
            &::after{ content: ''; width: 100%; height: 240rem; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom, transparent, #fff); z-index: 1;}
            .swiper-slide{ border-radius: 20rem; overflow: hidden;}
          }
        }
       .nav{ width: 455rem; z-index: 10; display: flex; justify-content: space-between; align-items: center;} 
       .pagi{ z-index: 11; position: relative;}
      }
    }

    &.benefit{
      .benefit_box{background-color: $gray; background-color: #EDE9E5; border-radius: 8rem; overflow: hidden; padding: 53rem 120rem; position: relative;
        @include screen("mo") { padding: 20rem 20rem 157rem;}
        &.aos-animate{
          .txt_box{
            >*{ transform: translateY(0); opacity: 1;}
          }
          .img_box{
            img{ transform: none !important; opacity: 1;
              &.icon01{ top: 5rem;
                @include screen("mo") { bottom: 22rem;}
              }
              &.icon02{ top: 20rem; transition-duration: 1.2s;
                @include screen("mo") { bottom: -30rem;}
              }
              &.icon03{ bottom: -30rem; transition-duration: 1.4s;
                @include screen("mo") { bottom: -15rem;}
              }
            }
          }
        }
        .txt_box{
          >*{ transform: translateY(50rem); opacity: 0; transition: 1s ease;}
          .bsi_info{ transition-duration: 1.2s;
            em{ color: $ci;}
            @include screen("mo") { 
              br{display: block;} 
            }
          }
        }
        .img_box{
          img{ position: absolute; transition: 1s $outback; opacity: 0;
            @include screen("mo") { top: auto !important;}
            &.icon01{ width: 213rem; right: 355rem; top: 100rem; transform: rotate(30deg);
              @include screen("mo") { 
                width: 156rem; right: 150rem; bottom: -50rem;
              }
            }
            &.icon02{ width: 251rem; right: 230rem; top: 100rem; transform: rotate(-17deg);
              @include screen("mo") { 
                width: 184rem; right: 54rem; bottom: -70rem;
              }
            }
            &.icon03{ width: 219rem; right: 131rem; bottom: -120rem; transform: rotate(50deg);
              @include screen("mo") { 
                width: 161rem; right: -18rem; bottom: -180rem;
              }
            }
          }
        }
      }
    }

    &.download{ padding: 50rem 0;
      @include screen("mo") { padding: 30rem 0;}
      .download_wrap{ position: relative; color: #fff; overflow: hidden; border-radius: 8rem;
        .txt_box{ z-index: 1; position: absolute; left: 120rem; top: 50%; transform: translateY(-50%);
          @include screen("mo") { transform: none; left: 20rem; top:20rem;}
          span{ font-weight: 600; font-size: 16rem;
            @include screen("mo") { font-size: 15rem;}
          }
          h3{ font-weight: 700; font-size: 30rem; margin-top: 8rem;
            @include screen("mo") { font-size: 24rem; margin-top: 6rem;}
          }
        }
        .vid_box{ width: 221rem; height: 472rem; top: 80%;
          @include screen("mo") { width: 148rem; height: 313rem;}
          &.aos-animate{ top: 50%;
            @include screen("mo") { top:56%;}
          }
          .hand{ width: 540rem; position: absolute; left: -49rem; top: -4rem;
            @include screen("mo") { width: 356rem; left: -31rem; top: -2rem;}
          }
          video{ width: 100%; height: 100%; object-fit: cover; border-radius: 20rem;}
        }
        a{ position: absolute; left: 20rem; bottom: 20rem; right: 20rem; padding: 14rem; font-weight: 600; color: #fff; background-color: #000; border-radius: 8rem; text-align: center;}
      }


    }
  }
}