@import "var";

.opinion_column{ 
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  @at-root .PcPdpExhibitionDetailView_bannerArea__btHpF .combined_discount img{ max-width: unset;}
  abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, samp, section, small, strike, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, ul, var, video{ color: inherit; line-height: 1.4; font-size: inherit; font-weight: inherit;}
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  .layout_inner{ padding-left: $layout_pd !important; padding-right: $layout_pd !important; position: relative;}
  .inner{ width: 100%; position: relative;}
  .f_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .flex_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .blind { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); clip-path: inset(50%); white-space: nowrap; border: 0;} 

  @include screen("pc") {
    .mo{ display: none !important;}
  }
  @include screen("mo") {
    .pc{ display: none !important;}
  }
  .pd{padding-top: 60rem; padding-bottom: 60rem;}
  .pd_b{padding-bottom: 60rem;}
  .pd_t{padding-top: 60rem;}
  .lao{ font-family: 'Lao MN', 'Pretendard', sans-serif; font-weight: 600;}
  .black_cont{ background-color: #111; color: #fff;}
  .radius_box{ border-radius: 12rem; padding: 24rem $layout_pd; background-color: #f6f6f6;
    &.ty_white{ background-color: #fff;}
    &.ty_dqm{ display: flex; gap: 20rem;
      .dqm{ filter: brightness(.9); flex-shrink: 0;}
      .txt_box{ width: 100%;
        .lao{ margin-top: 20rem; color: #999; font-weight: 400;}
      }
    }
  }
  .dqm{ display: block; width: 23rem; height: 18rem; background: url(../images/icon_dqm.png)no-repeat center center / contain;
    &.ty_white{filter: brightness(0);}
  }
  .sticky_box{ position: sticky; left: 0; top: 0; width: 100%; height: 100svh;}
  .scr_bar{ background-color: rgba($color: #000, $alpha: .08); width: 80rem; height: 3rem; margin: 27rem auto 0;
    .swiper-scrollbar-drag{ background-color: #000; border-radius: 0;}
    &.ty_white{ background-color: rgba($color: #fff, $alpha: .6);
      .swiper-scrollbar-drag{ background-color: #fff;}
    }
  }
  .lao_tit{ text-align: center; margin-bottom: 20rem;
    .sub_tit{ @include font-size(12rem); color: #999; font-weight: 600; margin-bottom: 4rem}
    .tit{ @include font-size(30rem); font-weight: 400;}
  }
  .bg_gray{ background-color: #F6F6F6;}
  .swiper{overflow: visible;}
  #oms_module_anchor{ position: absolute; left: 0; bottom: 56px; height: 1px; width: 100%;}
  /* //PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
  
  section{ position: relative; overflow: hidden;
    /* MODULE MODULE MODULE MODULE MODULE MODULE */
    .product_list ul .pd_slot{ border-top: 1px solid #ddd; min-height: 140rem;}
    
    .pd_slot{ display: flex; align-items: center; gap: 20rem;
      .pd_img{ width: 100rem; flex-shrink: 0;}
      .pd_txt{ width: 100%; flex: 1; min-width: 0;
        span{ @include font-size(12rem); color: #444;}
        a{ font-weight: 700;
          &::after{ content: ''; display: inline-block; width: 16rem; height: 16rem; background: url(../images/arr.png)no-repeat center center / contain; transform: translateY(3rem);}
        }
        strong{ @include font-size(12rem); display: block;}
        p{ margin-top:4rem; @include font-size(12rem); color:#444}
      }
    }

    .pd_anchor{  position: absolute; z-index: 3; transform: scale(0); transition: .5s $outback .3s;
      > *{ box-shadow: 0 2rem 8rem rgba($color: #000, $alpha: .25); }
      .pd_anchor_pin{ display: block; width: 24rem; height: 24rem; background: url(../images/pd_pin.png)no-repeat center center / contain;border-radius: 999rem; transition: .5s $outback; cursor: pointer;
        &::after{ content: ''; width: 100%; height: 100%; border-radius: 50%; position: absolute; top: 0; left: 0; z-index: -1; animation: pd_pin_pulse 3s infinite; box-sizing: border-box;}
        @keyframes pd_pin_pulse {
          0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8), 0 0 0 0 rgba(255, 255, 255, 0.8);}
          50% { box-shadow: 0 0 0 8px rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0.8);}
          100% { box-shadow: 0 0 0 16px rgba(255, 255, 255, 0), 0 0 0 8px rgba(255, 255, 255, 0);}
        }
        &.ty_check{ background-image: url(../images/icon_check.png);  touch-action: none; pointer-events: none;
          &::after{ display: none;}
        }
      }
      .pd_anchor_info{  background-color: #f5f5f5; position: absolute; left: 50%; top: calc(100% + 8rem); transform: translate(-50%, -5rem); padding: 8rem; gap: 12rem; min-width: 180rem; transition: .3s ease; box-shadow: 0 4rem 20rem rgba($color: #000, $alpha: .25);
        &.ty_l{ left: 277%;}
        &.ty_r{ left: -177%;}
        &.ty_t{ top: auto; bottom: calc(100% + 8rem); transform: translate(-50%, 5rem);}
        .pd_img{ width: 56rem; background-color: #dfdfdf;}
        .pd_txt{
          a{@include font-size(8rem);
            &::after{ transform: translateY(1rem); width: 8rem; height: 8rem}
          }
          span{ @include font-size(8rem); display: block; margin-top: 2rem;}
        }
      }
      &:not(.on) .pd_anchor_info{  opacity: 0; touch-action: none; pointer-events: none;}
      &.on{ z-index: 4;
        .pd_anchor_pin{ transform: rotate(45deg);}
        .pd_anchor_info{ transform: translate(-50%, 0);}
      }
    }
  
    .swiper-slide-active .pd_anchor,
    .pd_anchor.aos-animate{ transform: scale(1);}
    /* //MODULE MODULE MODULE MODULE MODULE MODULE  */

    &#key_visual{background-color: #EFF0F4; font-weight: 600; padding: 20rem 0 24rem;
      .tit_box{
        .ep_tag{
          .logo{ width: 80rem;}
          .tit_box{ display: flex; align-items: center; 
            span{ padding-right: 4rem; margin-right: 4rem; border-right: 2px solid #8f8f8f; height: 10rem;line-height: 10rem;}
            strong{ font-weight: 600}
          }
        }
        h2{ @include font-size(24rem); margin: 24rem 0 32rem;}
      }
      .img_box{ @include m_full_layout(); padding: 0 12rem;
        img{ clip-path:  polygon(0 0, 0 0, 0 0); transition: 1.5s $inout}
        &.aos-animate img{ clip-path: polygon(0 0, 0 200% , 200% 0);}
      }
      .address{ @include font-size(12rem); margin-top: 12rem;}
    }

    &#navigation_tab { position: sticky; top: 0; font-size: 14rem; white-space: nowrap; z-index: 5; margin-bottom: -1px; overflow: hidden;
      @include screen("mo") { top: 56px;}
      nav{
        ul{ display: flex; justify-content: flex-start; overflow-x: auto; scroll-behavior: smooth;
          @include screen("pc") { justify-content: center;}
          li{ padding:12rem 16rem; position: relative;
            &::before{ content: ''; height: 3px; background-color: #fff; position: absolute; left: -1px; right: -1px; bottom: -1px; transform: scaleX(0); transform-origin: right center; transition: 1s ease transform;}
            &.on{ font-weight: 700; 
              &::before{ transform: scaleX(1); transition-duration: .6s; transform-origin: left center;}
            }
          }
        }
      }
    }

    &#construction_bg{
      .introduce{ padding: 40rem 0;
        p{ text-align: center;}
        .hashtag{ margin-top: 20rem; display: flex; justify-content: center; gap: 8rem 4rem; flex-wrap: wrap;
          li{ border-radius: 999rem; border: 1px solid #ddd; color: #666; @include font-size(12rem); padding: 4rem 12rem;}
        }
      }
      .company{ text-align: center; 
        img{ width: 100%; height: 60rem; object-fit: contain;}
        h2{ margin: 12rem 0 8rem; font-weight: 700;}
        p{ color: #444;}
      }
      .const_info{ padding-top: 32rem; margin-top: 12rem;
        .floor_plan_img{ @include m_full_layout(); mix-blend-mode: darken;}
        ul{ display: grid; grid-template-columns: 1fr 1fr; margin-top: 20rem;
          li{ display: flex; align-items: center; gap: 10rem; border-top: 1px solid #ddd; padding: 16rem 0; @include font-size(12rem);
            .icon{ width: 20rem;}
            .txt_box{
              strong{ font-weight: 600;}
            }
          }
        }
      }
    }

    &#construction_info{
      &::before{ content: ''; display: block; width: 100%; height: 28rem; background: #111; clip-path: polygon(50% 100%, 100% 100%, 0 100%); margin-bottom: -1px; transition: .5s ease;}  
      &.aos-animate::before{ clip-path: polygon(50% 0, 100% 100%, 0 100%); }
      .tit{ @include font-size(20rem); font-weight: 700;}
      .info{ color: #ccc;}
      .const_details{
        .tit_box{
          .tit{ margin-top: 12rem;}
        }
        .const_details_img{ margin-top: 40rem; overflow: hidden; position: relative;
          .lighting{mix-blend-mode: plus-lighter; opacity: 0;
          }
          .aos-animate + .lighting{animation: lighting 2s ease-in-out 1s infinite;
            @keyframes lighting {
              0%,100%{ opacity: 0;}
              50%{ opacity: 1;}
            }
          }

          .point_txt{ position: absolute; left: 0; bottom: 20rem; width: 100%; text-align: center; @include font-size(12rem); font-weight: 600; line-height: 1.6;}
        }
        .info{ margin-top: 24rem;}
      }
      .before_after{
        .handle_box { --position: 50%; position: relative; overflow: hidden; height: 370rem;
          @include screen("mo") { height: 234rem;}
          .img_box{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;
            &.before { position: absolute; inset: 0; clip-path: inset( 0 calc(100% - var(--position)) 0 0);
              p{ color: #666; left: 20rem; right: auto;}
            }
            p{ position: absolute; right: 20rem; top: 50%; transform: translateY(-50%); @include font-size(12rem); z-index: 1;}
            img{ width: 100%; height: 100%; object-fit: cover;}
            
          }
          .handle { position: absolute; top: 50%; left: var(--position); z-index: 2; transform: translate(-50%, -50%); pointer-events: none; width: 40rem; height: 40rem; background: url(../images/handle.png)no-repeat center center / contain; border-radius: 50%; box-shadow: 0 4rem 4rem rgba($color: #000, $alpha: .25);}
          input[type='range'] { position: absolute; inset: 0; z-index: 3; width: 100%; height: 100%; margin: 0; opacity: 0; cursor: ew-resize;
          }
        }
        .txt_box{ margin-top: 40rem;
          p{ margin-top: 20rem;}
        }
      }
    }

    &#space_detail{ overflow: visible;
      article{
        &:nth-child(even){ background-color: #EFF0F4;
          .space_type_tit{ background-color: #EFF0F4;
            img{ mix-blend-mode: darken;}
          }
        }
        .space_type_tit{ width: 100%; height: 64rem; border-bottom: 1px solid #ddd; position: sticky; left: 0; top: 43rem; display: flex; align-items: center; background-color: #fff; z-index: 3;
          @include screen("mo") { top: calc(43rem + 56px);}
          h2{ font-weight: 400; @include font-size(24rem);}
          .floor_plan{ position: absolute; right: 0; top: 0; width: auto; height: 100%; border-left: 1px solid #ddd;}
        }
        h3{ @include font-size(30rem); padding: 60rem 0 32rem; font-weight: 600;}
        .before_after{ position: relative; height: 200svh;
          .sticky_box{ top: 106rem; height: auto;
            @include screen("mo") {  top: calc(106rem + 56px);}
            img{ @include m_full_layout(); }
            .before{ position: absolute; left: 0; top: 0;
            }
            .after{
              p{ margin-top: 24rem; color: #444;}
            }
          }
        }
        .interior_point{ overflow: hidden;
          .swiper{ overflow: visible;
            .swiper-slide{ overflow: hidden;
              img{ transform: scale(1.05); transition: 1s ease;}
              &.swiper-slide-active img{ transform: scale(1);}
            }
            .txt_box{  margin-top: 30rem;
              h4{ @include font-size(16rem); font-weight: 700;}
              p{ color: #444; margin-top: 8rem;}
            }
          }
        }
        .expert_comment{ 
          .radius_box{
            p{ color: #444;}
          }
        }
      }
    }
    &#expert_insight{
      article{
        .img_box{ overflow: hidden;}
        .txt_box{ margin-top: 32rem;
          h3{ @include font-size(26rem); font-weight: 600; margin-top: 20rem;}
          p{ color: #444; margin-top: 20rem;}
        }
        .swiper{
          .swiper-slide{ overflow: hidden;
            img{ transform: scale(1.05); transition: 1s ease;}
            &.swiper-slide-active img{ transform: scale(1);}
          }
        }
        .product_list{ margin-top: 20rem;}
      }
    }

    &#faq{
      .faq_list{ counter-reset:faq;
        li{ padding: 20rem; position: relative; border-radius: 8rem; background-color: #fff;
          + li{ margin-top: 12rem;}
          > *{ padding-left: 36rem; position: relative;}
          h3{ font-weight: 600; @include font-size(15rem);
            &:before { counter-increment:faq; content: "0"counter(faq)".";  position: absolute; left: 0; top: 0;}
          }
          p{ margin-top: 8rem; color: #444;}
        }
      }
    }

    &#lg_home_solution{
      .swiper{ overflow: visible;
        .swiper_tab{ display: flex; justify-content: center; gap: 8rem; margin-bottom: 20rem;
          button{ padding: 8rem 16rem; border-radius: 999rem; border: 1px solid rgba($color: #fff, $alpha: .4);
            &.on{ background-color: #fff; border-color: #fff; color: #111; font-weight: 700;}
          }
        }
        .swiper-slide{ background-color: #fff; border-radius: 12rem; overflow: hidden; height: 768rem; display: flex; flex-direction: column;
          @include screen("mo") { height: 560rem;}
          &.swiper-slide-active .visual_box{
            .tit{ transform: translateY(0); opacity: 1;}
            .cover{ transform: scale(1);}
          }
          .visual_box{ position: relative; height: 100%; overflow: hidden;
            .tit{ text-align: center; z-index: 1; position: relative; @include font-size(30rem); padding-top: 20rem; font-weight: 400; transform: translateY(-100%); opacity: 0; transition: 1s ease .3s;}
            .cover{ transform: scale(1.05); transition: 1s ease;}
          }
          .product_list{ color: #111;
            ul li.pd_slot{ min-height: 104rem; gap: 12rem;
              .pd_img{ width: 80rem;}
              .pd_txt{
                strong{ @include ellip();}
              }
            }
          }
        }
      }
    }

    &#consultation{
      .visual_box{ position: relative; overflow: hidden;
        .p_center{ height: 25rem; width: 100%; object-fit: contain;}
      }
      .txt_box{ text-align: center;
        p{ @include font-size(13rem); line-height: 1.4; color: #444; padding: 32rem 0 24rem;
          strong{ font-weight: 600;}
        }
        .btn_wrap{
          a{ background-color: #111; color: #fff; @include font-size(15rem); padding: 13rem; border-radius: 8rem; font-weight: 600;
            + a{ margin-top: 8rem;}
          }
        }
        span{ color: #8f8f8f; @include font-size(12rem); margin-top: 8rem;}
      }

    }
    &#recommended_contents{
      h2{ @include font-size(22rem); font-weight: 600; text-align: center; margin-bottom: 28rem;}
      .swiper{
        .swiper-slide{  background-color: #FAFAFA;
          .img_box{ overflow: hidden;
            img{ transform: scale(1.05); transition: 1s ease;}
          }
          &.swiper-slide-active .img_box img{  transform: scale(1);}
          .txt_box{ padding: 20rem 16rem; line-height: 1.4;
            span{ @include font-size(12rem); color: #999;}
            h3{ margin-top: 4rem; @include font-size(16rem); font-weight: 500;}
          }
        }
      }
    }
  }
}
