@charset "UTF-8";
/* Responsive */
/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
/* Ellipsis */
.show_off_my_space {
  font-size: clamp(10px, 18rem, 9999rem);
  padding-bottom: 120rem;
  max-width: 780px;
  margin: 0 auto;
}
@media (min-width: 0px) {
  .show_off_my_space {
    font-size: clamp(10px, 14rem, 9999rem);
    padding-bottom: 40rem;
  }
}
.show_off_my_space {
  /* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
}
.PcPdpExhibitionDetailView_bannerArea__btHpF .show_off_my_space img {
  max-width: unset;
}

.show_off_my_space abbr, .show_off_my_space acronym, .show_off_my_space address, .show_off_my_space applet, .show_off_my_space article, .show_off_my_space aside, .show_off_my_space audio, .show_off_my_space big, .show_off_my_space blockquote, .show_off_my_space body, .show_off_my_space canvas, .show_off_my_space caption, .show_off_my_space center, .show_off_my_space cite, .show_off_my_space code, .show_off_my_space dd, .show_off_my_space details, .show_off_my_space dfn, .show_off_my_space div, .show_off_my_space dl, .show_off_my_space dt, .show_off_my_space embed, .show_off_my_space fieldset, .show_off_my_space figcaption, .show_off_my_space figure, .show_off_my_space footer, .show_off_my_space form, .show_off_my_space h1, .show_off_my_space h2, .show_off_my_space h3, .show_off_my_space h4, .show_off_my_space h5, .show_off_my_space h6, .show_off_my_space header, .show_off_my_space hgroup, .show_off_my_space html, .show_off_my_space iframe, .show_off_my_space img, .show_off_my_space ins, .show_off_my_space kbd, .show_off_my_space label, .show_off_my_space legend, .show_off_my_space li, .show_off_my_space mark, .show_off_my_space menu, .show_off_my_space nav, .show_off_my_space object, .show_off_my_space ol, .show_off_my_space output, .show_off_my_space p, .show_off_my_space pre, .show_off_my_space q, .show_off_my_space ruby, .show_off_my_space samp, .show_off_my_space section, .show_off_my_space small, .show_off_my_space strike, .show_off_my_space summary, .show_off_my_space table, .show_off_my_space tbody, .show_off_my_space td, .show_off_my_space textarea, .show_off_my_space tfoot, .show_off_my_space th, .show_off_my_space thead, .show_off_my_space time, .show_off_my_space tr, .show_off_my_space tt, .show_off_my_space ul, .show_off_my_space var, .show_off_my_space video {
  color: inherit;
}
.show_off_my_space {
  /* //GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL */
  /* PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC PUBLIC */
}
.show_off_my_space .layout_inner {
  position: relative;
  max-width: 100%;
  width: 1020rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 20rem !important;
  padding-right: 20rem !important;
}
.show_off_my_space .inner {
  width: 100%;
  position: relative;
}
.show_off_my_space .f_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.show_off_my_space .p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show_off_my_space .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show_off_my_space .flex {
  display: flex;
  justify-content: space-between;
}
.show_off_my_space .flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show_off_my_space .flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.show_off_my_space .flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.show_off_my_space {
  /* WAVE */
}
.show_off_my_space .wave {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.show_off_my_space .wave > * {
  flex-shrink: 0;
  animation: wave 100s linear infinite;
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.show_off_my_space .wave.reverse > * {
  animation-direction: reverse;
}
@media (max-width: 0px) {
  .show_off_my_space .mo {
    display: none !important;
  }
}
@media (min-width: 0px) {
  .show_off_my_space .pc {
    display: none !important;
  }
}
@media (min-width: 781px) {
  .show_off_my_space .mo2 {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .show_off_my_space .pc2 {
    display: none !important;
  }
}
.show_off_my_space .contents_tabbar {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 30rem;
  white-space: nowrap;
  background-color: #111;
  font-size: 14rem;
  padding: 0 20rem;
  position: sticky;
  left: 0;
  top: 56px;
  z-index: 10;
}
@media (min-width: 781px) {
  .show_off_my_space .contents_tabbar {
    top: 0;
  }
}
.show_off_my_space .contents_tabbar li a {
  padding: 16rem 0 14rem;
  border-bottom: 2rem solid transparent;
  color: #fff;
}
.show_off_my_space .contents_tabbar li a:hover {
  color: #ea1917;
  font-weight: 600;
  border-bottom-color: #ea1917;
}
.show_off_my_space .notice_box {
  margin-top: 60rem;
  padding-top: 16rem;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box {
    margin-top: 32rem;
    padding-top: 16rem;
  }
}
.show_off_my_space .notice_box + .notice_box {
  margin-top: 40rem;
  padding-top: 0;
  border-top: none;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box + .notice_box {
    margin-top: 20rem;
  }
}
.show_off_my_space .notice_box button {
  font-size: 17rem;
  color: #666;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box button {
    font-size: 13rem;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10rem;
  }
}
.show_off_my_space .notice_box button::after {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 1px solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(4rem, -10rem);
  opacity: 0.5;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box button::after {
    border-width: 0 1px 1px 0;
    transform: rotate(45deg) translate(-4rem, -1rem);
    width: 5rem;
    height: 5rem;
  }
}
.show_off_my_space .notice_box strong {
  font-weight: 600;
}
.show_off_my_space .notice_box strong + .notice_cont {
  margin-top: 8rem;
}
.show_off_my_space .notice_box .notice_cont {
  display: none;
  color: #666;
  font-size: 14rem;
  margin-top: 15rem;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box .notice_cont {
    font-size: 12rem;
  }
}
.show_off_my_space .notice_box .notice_cont strong {
  display: block;
  margin-bottom: 4rem;
  font-weight: 600;
}
.show_off_my_space .notice_box .notice_cont ul {
  line-height: 1.5;
}
.show_off_my_space .notice_box .notice_cont ul + strong {
  margin-top: 10rem;
}
.show_off_my_space .notice_box .notice_cont ul .bold {
  font-weight: 600;
}
.show_off_my_space .notice_box .notice_cont ul li {
  padding-left: 10rem;
  position: relative;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box .notice_cont ul li {
    padding-left: 7rem;
  }
}
.show_off_my_space .notice_box .notice_cont ul li::before {
  content: "∙";
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box .notice_cont ul li::before {
    top: -1rem;
  }
}
.show_off_my_space .notice_box.on button::after {
  transform: rotate(225deg) translate(-8rem, 7rem);
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box.on button::after {
    transform: rotate(225deg) translate(2rem, -1rem);
  }
}
.show_off_my_space .notice_box.on .notice_cont {
  display: block;
}
@media (max-width: 0px) {
  .show_off_my_space .notice_box.ty_cnt {
    text-align: center;
  }
  .show_off_my_space .notice_box.ty_cnt ul li {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 4rem;
  }
  .show_off_my_space .notice_box.ty_cnt ul li::before {
    position: relative;
  }
}
@media (min-width: 0px) {
  .show_off_my_space .notice_box.ty_mo_cnt {
    text-align: center;
  }
  .show_off_my_space .notice_box.ty_mo_cnt button {
    justify-content: center;
    gap: 8rem;
  }
  .show_off_my_space .notice_box.ty_mo_cnt ul li {
    padding: 0;
    gap: 4rem;
  }
  .show_off_my_space .notice_box.ty_mo_cnt ul li::before {
    position: relative;
    top: -1rem;
    left: -3rem;
  }
}
.show_off_my_space .notice_box.ty_not_line {
  padding-top: 0;
  border: none;
  margin-top: 18rem;
}
.show_off_my_space .notice_box.ty_2 button {
  color: #444;
  font-weight: 600;
  justify-content: space-between;
}
.show_off_my_space.welcome_offer #key_visual, .show_off_my_space.review_event_stanley #key_visual {
  margin-bottom: 0;
}
.show_off_my_space section {
  position: relative;
  overflow: hidden;
}
.show_off_my_space section#key_visual {
  max-width: 1920rem;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 0px) {
  .show_off_my_space section#key_visual {
    margin-bottom: 20rem;
  }
}
.show_off_my_space section#key_visual ul li {
  text-align: center;
  font-size: 14rem;
  letter-spacing: -0.1rem;
}
.show_off_my_space section#key_visual ul li + li {
  margin-top: 6rem;
}
.show_off_my_space section#key_visual ul li strong {
  color: #333;
}
.show_off_my_space section#key_visual ul li p {
  color: #666;
}
.show_off_my_space section#brand_benefit {
  padding: 100rem 0;
  text-align: center;
}
@media (min-width: 0px) {
  .show_off_my_space section#brand_benefit {
    padding: 60rem 0;
  }
}
.show_off_my_space section#brand_benefit .txt_box {
  margin-bottom: 32rem;
}
.show_off_my_space section#brand_benefit .txt_box h2 {
  font-size: 36rem;
  font-weight: 700;
  color: #000;
}
@media (min-width: 0px) {
  .show_off_my_space section#brand_benefit .txt_box h2 {
    font-size: 26rem;
  }
}
.show_off_my_space section#brand_benefit .txt_box p {
  font-size: 20rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#brand_benefit .txt_box p {
    font-size: 15rem;
    color: #444;
  }
}
.show_off_my_space section#brand_benefit .txt_box p strong {
  font-weight: 600;
  color: #000;
}
.show_off_my_space section#brand_benefit .coupon_btn {
  width: 350rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#brand_benefit .coupon_btn {
    width: 100%;
  }
}
.show_off_my_space section#contents .tit_box {
  text-align: center;
  padding: 40rem 0 28rem;
}
.show_off_my_space section#contents .tit_box strong {
  font-size: 26rem;
  display: block;
  margin-bottom: 2rem;
  line-height: 1.4;
}
.show_off_my_space section#contents .tit_box p {
  font-size: 15rem;
  color: #444;
}
.show_off_my_space section#contents .cont_box {
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 12rem;
  padding: 48rem 80rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box {
    padding: 32rem 30rem;
  }
}
.show_off_my_space section#contents .cont_box + .cont_box {
  margin-top: 12rem;
}
.show_off_my_space section#contents .cont_box h2 {
  font-size: clamp(10px, 24rem, 9999rem);
  font-weight: 700;
  margin-bottom: 12rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box h2 {
    font-size: clamp(10px, 20rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box .info_box {
  padding: 32rem;
  background-color: #F6F6F6;
  border-radius: 8rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box .info_box {
    padding: 20rem;
  }
}
.show_off_my_space section#contents .cont_box .dot_txt {
  position: relative;
  padding-left: 8rem;
}
.show_off_my_space section#contents .cont_box .dot_txt::before {
  content: "·";
  position: absolute;
  left: 0;
  top: 0;
}
.show_off_my_space section#contents .cont_box .dot_txt + .dot_txt {
  margin-top: 2rem;
}
.show_off_my_space section#contents .cont_box.how_to_apply ol {
  counter-reset: how_to_apply;
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li {
  position: relative;
  padding-left: 40rem;
  margin-bottom: 12rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li {
    padding-left: 28rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li:before {
  flex-shrink: 0;
  counter-increment: how_to_apply;
  content: counter(how_to_apply);
  font-size: clamp(10px, 13rem, 9999rem);
  width: 28rem;
  height: 28rem;
  line-height: 28rem;
  border-radius: 50%;
  background-color: #111;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li:before {
    width: 20rem;
    height: 20rem;
    line-height: 21rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .tit {
  font-size: clamp(10px, 20rem, 9999rem);
  font-weight: 600;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .tit {
    font-size: clamp(10px, 15rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info {
  margin-top: 6rem;
  color: #333;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info {
    margin-top: 4rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info span {
  color: #8f8f8f;
  display: block;
  font-size: clamp(10px, 14rem, 9999rem);
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info span {
    font-size: clamp(10px, 12rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul {
  margin-bottom: 15rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul {
    margin-bottom: 4rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li {
  display: flex;
  gap: 6rem;
  align-items: center;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li {
    display: block;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li + li {
  margin-top: 10rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li + li {
    margin-top: 12rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li .tag {
  font-size: clamp(10px, 15rem, 9999rem);
  font-weight: 600;
  color: #846526;
  padding: 2rem 8rem;
  border-radius: 6rem;
  background-color: #E6E1D7;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li .tag {
    width: max-content;
    font-size: clamp(10px, 11rem, 9999rem);
    padding: 2rem 6rem;
    border-radius: 4rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li p {
  padding-top: 1rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.how_to_apply ol > li .info ul li p {
    padding-top: 3rem;
  }
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box {
  font-size: clamp(10px, 13rem, 9999rem);
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box .tit {
  font-weight: 600;
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box ul {
  margin-top: 8rem;
  color: #666;
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box ul li {
  display: flex;
  gap: 4rem;
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box ul li::before {
  content: "·";
  flex-shrink: 0;
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box ul li + li {
  margin-top: 2rem;
}
.show_off_my_space section#contents .cont_box.how_to_apply .info_box .notice_box {
  margin-top: 0;
}
.show_off_my_space section#contents .cont_box.period {
  font-size: clamp(10px, 14rem, 9999rem);
  line-height: 1.6;
  padding: 16rem 30rem;
  letter-spacing: -0.2rem;
}
.show_off_my_space section#contents .cont_box.period ul li + li {
  margin-top: 8rem;
}
.show_off_my_space section#contents .cont_box.period ul li strong {
  font-weight: 600;
}
.show_off_my_space section#contents .cont_box.period ul li p {
  color: #444;
}
.show_off_my_space section#contents .cont_box.prize_information .info_box {
  text-align: center;
}
.show_off_my_space section#contents .cont_box.prize_information .info_box + .info_box {
  margin-top: 10rem;
}
.show_off_my_space section#contents .cont_box.prize_information .info_box img {
  width: 176rem;
  display: inline-block;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box img {
    width: 143rem;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box p {
  font-size: clamp(10px, 18rem, 9999rem);
  font-weight: 500;
  margin-top: 10rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box p {
    font-size: clamp(10px, 13rem, 9999rem);
    margin-top: 8rem;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box p em {
  font-weight: 700;
  color: #00AE44;
}
.show_off_my_space section#contents .cont_box.prize_information .info_box.ty2 {
  background-color: transparent;
  padding: 0;
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul {
  display: flex;
  gap: 12rem;
  text-align: center;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box ul {
    gap: 10rem;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li {
  width: calc(50% - 5rem);
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li .img_box {
  background-color: #F6F6F6;
  border-radius: 8rem;
  overflow: hidden;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box ul li .img_box {
    height: 140rem;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li .img_box img {
  width: 100%;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box ul li .img_box img {
    height: 100%;
    object-fit: cover;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li .img_box.ty_npay img {
  transform: scale(0.6);
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li strong {
  margin-top: 20rem;
  display: block;
  font-size: clamp(10px, 18rem, 9999rem);
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box ul li strong {
    margin-top: 10rem;
    font-size: clamp(10px, 15rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.prize_information .info_box ul li p {
  margin-top: 8rem;
  font-size: clamp(10px, 17rem, 9999rem);
  font-weight: 400;
  color: #333;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .info_box ul li p {
    margin-top: 0;
    font-size: clamp(10px, 13rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: clamp(10px, 12rem, 9999rem);
  color: #fff;
  background: url(https://static-store.lge.co.kr/editor/952/2603260014952.png) no-repeat center center/cover;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .close_box {
    padding: 0 35rem;
    background: url(https://static-store.lge.co.kr/editor/953/2603260014953.png) no-repeat center center/cover;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .close_info {
  padding-bottom: 20rem;
  margin-bottom: 20rem;
  border-bottom: 1px solid #fff;
  max-width: 360rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .close_box .close_info {
    padding-bottom: 12rem;
    max-width: unset;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .close_info span {
  font-size: clamp(10px, 20rem, 9999rem);
  font-weight: 600;
  display: block;
  margin-bottom: 2rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .close_box .close_info span {
    font-size: clamp(10px, 15rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .close_info p {
  font-size: clamp(10px, 16rem, 9999rem);
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .close_box .close_info p {
    font-size: clamp(10px, 13rem, 9999rem);
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .winner_info {
  position: relative;
  z-index: 1;
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .winner_info span {
  padding: 4rem 12rem;
  border-radius: 99rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  display: block;
  width: max-content;
  margin: 0 auto;
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .winner_info strong {
  display: block;
  font-size: clamp(10px, 28rem, 9999rem);
  margin: 4rem 0 12rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .cont_box.prize_information .close_box .winner_info strong {
    font-size: clamp(10px, 24rem, 9999rem);
    margin: 6rem 0;
  }
}
.show_off_my_space section#contents .cont_box.prize_information .close_box .winner_info p {
  font-weight: 500;
}
.show_off_my_space section#contents .winner {
  padding-top: 24rem;
}
.show_off_my_space section#contents .winner .clip {
  width: 396rem;
  margin: 0 auto -30rem;
  z-index: 1;
  position: relative;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .clip {
    width: 232rem;
    margin-bottom: -17rem;
  }
}
.show_off_my_space section#contents .winner .winner_info {
  background-color: #fff;
  padding: 60rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.06);
  border-radius: 12rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info {
    padding: 40rem 24rem;
  }
}
.show_off_my_space section#contents .winner .winner_info .txt_box {
  text-align: center;
}
.show_off_my_space section#contents .winner .winner_info .txt_box strong {
  font-size: clamp(10px, 24rem, 9999rem);
  font-weight: 600;
  line-height: 1.3;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .txt_box strong {
    font-size: clamp(10px, 20rem, 9999rem);
  }
}
.show_off_my_space section#contents .winner .winner_info .txt_box p {
  margin-top: 12rem;
  font-size: clamp(10px, 16rem, 9999rem);
  color: #444;
  line-height: 1.6;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .txt_box p {
    margin-top: 16rem;
    font-size: clamp(10px, 13rem, 9999rem);
  }
}
.show_off_my_space section#contents .winner .winner_info .txt_box p span {
  font-weight: 600;
}
.show_off_my_space section#contents .winner .winner_info .txt_box p span a {
  text-decoration: unset;
}
.show_off_my_space section#contents .winner .winner_info .winner_list {
  background-color: #f6f6f6;
  padding: 36rem 0;
  margin-top: 24rem;
}
.show_off_my_space section#contents .winner .winner_info .winner_list ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18rem 46rem;
  margin: 0 auto;
  text-align: center;
  width: 483rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .winner_list ul {
    width: 232rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.show_off_my_space section#contents .winner .winner_info .winner_list ul li {
  width: max-content;
  font-size: clamp(10px, 14rem, 9999rem);
  font-weight: 500;
  color: #000;
}
.show_off_my_space section#contents .winner .winner_info .dot_txt {
  color: #444;
}
.show_off_my_space section#contents .winner .winner_info .dot_txt li {
  position: relative;
  padding-left: 8rem;
  font-size: clamp(10px, 16rem, 9999rem);
  letter-spacing: -0.2rem;
  line-height: 1.6;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .dot_txt li {
    font-size: clamp(10px, 14rem, 9999rem);
  }
}
.show_off_my_space section#contents .winner .winner_info .dot_txt li::before {
  content: "·";
  position: absolute;
  left: 0;
  top: 0;
}
.show_off_my_space section#contents .winner .winner_info .ending {
  padding-top: 20rem;
  margin-top: 32rem;
  border-top: 1px solid #D9DDE1;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .ending {
    display: block;
  }
}
.show_off_my_space section#contents .winner .winner_info .ending p {
  font-weight: 500;
  font-size: clamp(10px, 16rem, 9999rem);
  line-height: 1.5;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .ending p {
    font-size: clamp(10px, 14rem, 9999rem);
  }
}
.show_off_my_space section#contents .winner .winner_info .ending img {
  width: 137rem;
}
@media (min-width: 0px) {
  .show_off_my_space section#contents .winner .winner_info .ending img {
    margin: 20rem 0 0 auto;
    width: 130rem;
  }
}
.show_off_my_space section#contents a {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 10px 16rem;
  min-height: 48px;
  width: 444px;
  margin: 28rem auto 0;
  background-color: #111;
}
@media (max-width: 780px) {
  .show_off_my_space section#contents a {
    width: 100%;
    margin-top: 20rem;
  }
}
.show_off_my_space section#contents a:hover {
  background-color: #373737;
}
.show_off_my_space section#contents a img {
  width: 20px;
}
.show_off_my_space section#contents a.ty_line {
  background-color: transparent;
  border: 1px solid #DDDDDD;
  color: #444;
}
.show_off_my_space section#contents a.ty_line img {
  filter: invert(1);
}
.show_off_my_space section#contents .info_box2 {
  padding: 32rem 30rem;
}
.show_off_my_space section#contents .gallery_box {
  background-color: #fff;
  margin-top: 60rem;
  padding: 20rem 0 60rem;
}